table td, table th {
    font-family: 'Century Gothic';
}

thead tr.row :last-child {
    cursor: help;
}

::ng-deep contract-info .glyphicon.glyphicon-info-sign {
    font-size: 12pt;
}

table tbody tr.week-header:hover {
    background-color: rgba(255, 105, 180, 0.5);
    cursor: pointer;
}

table tbody tr.week-header {
    font-weight: bold;
}