h4, select, .btn.btn-primary, label {
    font-family: 'Century Gothic';
}

.ui-dialog-titlebar.ui-widget-header {
    background-color: rgba(191, 215, 48, 0.5);
}

.btn.btn-primary, p-calendar button {
    background-color: rgba(191, 215, 48, 1.0)!important;
    color: black;
    font-size: 11pt;
    border-color: black;
}

.btn.btn-primary:hover {
    background-color: hotpink!important;
}

.header-buttons:first-child() {
    margin-right: 8px;
}

label {
    width: 25%;
}

.panel {
    border: 1px solid;
    border-color: slategray;
    background-color: rgba(255,255,255,0.5);
    margin-top: 24px;
}

.panel-heading {
    border-bottom: 1px solid silver;
    border-color: slategray;
    background-color: rgba(191, 215, 48, 0.5);
}

span.loading {
    font-family: 'Century Gothic';
    font-size: 14pt;
    margin-left: 8px;
}

.section-heading .glyphicon {
    top: 4px;
    margin-right: 4px;
    font-size: 16pt;
}

.preview object {
    width: 100%;
}

.badge {
	background-color: rgba(191, 215, 48, 0.5);
	color: black;
	font-size: 11pt;
	margin: 0px 6px 6px 0px;
	padding: 8px;
	border: 1px solid black;
}

.badge span.glyphicon {
    color: red;
}

.badge:hover {
	background-color: hotpink;
	cursor: pointer;
}
