<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h4 class="section-heading">
                    <strong>
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span>Scheduled Reports</span>
                    </strong>
                </h4>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary pull-right" (click)="addSchedule()" [disabled]="!mySchedules || !dataLoaded">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Add New</span>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div *ngIf="!mySchedules" class="alert alert-info">
            <i class="fa fa-cog fa-spin fa-2x"></i>
            <span class="loading">Please wait, retrieving your data...</span>
        </div>
        <div *ngIf="mySchedules sched-container">
            <h4>Your Subscriptions</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="row">
                            <th>Name</th>
                            <th>Frequency</th>
                            <th>Scope</th>
                            <th>Next Run</th>
                            <th>Period From</th>
                            <th>Period To</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr class="row" *ngFor="let sched of mySchedules; index as i">
                                <td>{{sched.report ? sched.report.name : ""}}</td>
                                <td>{{frequencies[sched.frequency].value}}</td>
                                <td>{{sched.scopeDescription}}</td>
                                <td>{{Utils.FormatDate(sched.runTime)}} {{Utils.FormatTime(sched.runTime)}}</td>
                                <td>{{Utils.FormatDate(sched.runPeriod.item1)}}</td>
                                <td>{{Utils.FormatDate(sched.runPeriod.item2)}}</td>
                                <td>
                                    <button class="btn btn-primary" (click)="viewScheduledReport(sched)">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span>View</span>
                                    </button>
                                    <button class="btn btn-primary" (click)="editSched(sched)" [disabled]="!dataLoaded">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <span>Edit</span>
                                    </button>
                                    <button class="btn btn-primary" disabled="true" (click)="unsubscribe(sched)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        <span>UnSub</span>
                                    </button>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="otherSchedules">
            <h4>Available Subscriptions</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="row">
                            <th>Name</th>
                            <th>Frequency</th>
                            <th>Scope</th>
                            <th>Next Run</th>
                            <th>Period From</th>
                            <th>Period To</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr class="row" *ngFor="let sched of otherSchedules; index as i">
                                <td>{{sched.report ? sched.report.name : ""}}</td>
                                <td>{{frequencies[sched.frequency].value}}</td>
                                <td>{{sched.scopeDescription}}</td>
                                <td>{{Utils.FormatDate(sched.runTime)}}</td>
                                <td>{{Utils.FormatDate(sched.runPeriod.item1)}}</td>
                                <td>{{Utils.FormatDate(sched.runPeriod.item2)}}</td>
                                <td>
                                    <button class="btn btn-primary" (click)="viewScheduledReport(sched)">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span>View</span>
                                    </button>
                                    <button class="btn btn-primary" (click)="subscribe(sched)" [disabled]="proc">
                                        <span class="glyphicon glyphicon-save-file"></span>
                                        <span>Subscribe</span>
                                    </button>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<schedule-editor *ngIf="selectedSched" [selectedSched]="selectedSched" [editVisible]="editVisible" (onClose)="onClose()"></schedule-editor>