h4, label, select, td, th {
    font-family: 'Century Gothic';
    font-weight: normal;
}

.panel {
    border: 1px solid;
    border-color: slategray;
    background-color: rgba(255,255,255,0.5);
    margin-top: 24px;
}

.panel-heading {
    border-bottom: 1px solid silver;
    border-color: slategray;
    background-color: rgba(191, 215, 48, 0.5);
}

.panel-body {
    height:89vh;
    /* overflow-y:scroll; */
    padding: 16px;
}

table {
    font-size: 11pt;
}

table tbody tr {
    cursor: pointer;
}

table tbody tr:hover {
    background-color: rgba(255, 105, 180, 0.5);
}

span.loading {
    font-family: 'Century Gothic';
    font-size: 14pt;
    margin-left: 8px;
}

.section-heading {
    margin-top: 4px;
}

.section-heading .glyphicon {
    top: 4px;
    margin-right: 4px;
    font-size: 16pt;
}
