<form #thisForm='ngForm'>
    <p-dialog [(visible)]="adjustVisible" modal="modal" [width]="960" [minWidth]="640" [minHeight]="480" [responsive]="true"
              [closable]="false" [closeOnEscape]="false">
        <p-header>
            <div class="header-row">
                <button class="btn btn-primary pull-left" (click)="prevDay(thisForm)" [disabled]="dayOffset==0">Previous</button>
                <span class="text-center header-text">Hours for {{loc.dayOrder[dayOffset]}}
                    {{pp.dateOrd(weekCommencing, dayOffset)}} {{pp.monthOf(weekCommencing, dayOffset)}}</span>
                <button class="btn btn-primary pull-right" (click)="nextDay(thisForm)" [disabled]="dayOffset==6">Next</button>
            </div>
        </p-header>
        <div id="adjust-modal-content">
            <table class="table table-striped">
                <thead>
                    <tr class="row">
                        <th class="col-md-6">Team</th>
                        <th class="col-md-1">Start</th>
                        <th class="col-md-1">Finish</th>
                        <th class="col-md-1">Total</th>
                        <th class="col-md-1">Unpaid</th>
                        <th class="col-md-1">Actual</th>
                        <th class="col-md-1">TOIL</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-shift [ngForOf]="timesheet.shifts | shiftOffsetFilter:dayOffset">
                        <tr class="row" [ngClass]="{'invalid-shift' : !shift.validBreak}" [tooltip]="validTip(shift)"
                            placement="bottom" (click)="showBreakPolicyInfo(shift)">
                            <td>
                                <span *ngIf="!shift.validBreak" class="glyphicon glyphicon-warning-sign adjust-crit pull-right action-icon"></span>
                                <span>{{pp.teamForContract(shift.contractCode, timesheet.contracts)}}</span>
                            </td>
                            <td>{{pp.timeFromDate(shift.start)}}</td>
                            <td>{{pp.timeFromDate(shift.finish)}}</td>
                            <td>{{pp.displayTime(shift.shiftMins)}}</td>
                            <td>{{pp.displayTime(shift.unpaidMins)}}</td>
                            <td>{{pp.displayTime(shift.shiftMins - shift.unpaidMins)}}</td>
                            <td>{{pp.displayTime(shift.availabilityType.toil == ToilSetting.Increment ? shift.shiftMins
                                - shift.unpaidMins : 0)}}</td>
                        </tr>
                    </ng-template>
                    <tr class="row">
                        <td colspan="3"><strong>Shift Totals</strong></td>
                        <td>{{pp.displayTime(totalActualHoursForDay(dayOffset))}}</td>
                        <td>{{pp.displayTime(totalUnpaidHoursForDay(dayOffset))}}</td>
                        <td>{{pp.displayTime(totalActualHoursForDay(dayOffset)-totalUnpaidHoursForDay(dayOffset))}}</td>
                        <td>{{pp.displayTime(totalToilMinsForDay(dayOffset))}}</td>
                    </tr>
                </tbody>
            </table>
            <table *ngIf="(timesheet.adjustments | adjustmentOffsetFilter:dayOffset).length > 0" class="table table-striped">
                <thead>
                    <tr class="row">
                        <th class="col-md-4">Reason for Adjustment</th>
                        <th class="col-md-4">Team</th>
                        <th class="col-md-2">Approval</th>
                        <th class="col-md-1">Hours</th>
                        <th class="col-md-1">Mins</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let adjust of timesheet.adjustments | adjustmentOffsetFilter:dayOffset" class="row">
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon delete-button" (click)="removeAdjust(adjust)" tooltip="Remove this adjustment"
                                      placement="right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </span>
                                <input class="form-control" type="text" [(ngModel)]="adjust.reason" [name]="'adjustReason' + adjust.guid" />
                            </div>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="adjust.contractCode" [name]="'adjustContract' + adjust.guid">
                                <option *ngFor="let con of timesheet.contracts" [ngValue]="con.contractCode">{{con.teamDesc}}</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn action-button" (click)="approve(adjust, true)" tooltip="Approve this Adjustment"
                                    [ngClass]="{'adjust-selected': adjust.authorised != null}">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" class="btn action-button" (click)="reject(adjust)" tooltip="Reject this Adjustment"
                                    [ngClass]="{'adjust-selected': adjust.rejected != null}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                        <td>
                            <p-spinner [(ngModel)]="adjust.hours" [max]="23" [min]="-23" size="2" [name]="'adjustHours' + adjust.guid"></p-spinner>
                        </td>
                        <td>
                            <p-spinner [(ngModel)]="adjust.mins" [max]="55" [min]="-55" [step]="5" size="2" [name]="'adjustMins' + adjust.guid"></p-spinner>
                        </td>
                    </tr>
                    <tr *ngIf="minsForAdjustments()" class="row">
                        <td colspan="4"><strong>Adjustment Totals</strong></td>
                        <td><strong>{{pp.displayTime(minsForAdjustments())}}</strong></td>
                    </tr>
                    <tr *ngIf="minsForAdjustments()" class="row">
                        <td colspan="4"><strong>Daily Totals</strong></td>
                        <td><strong>{{pp.displayTime(totalActualHoursForDay(dayOffset) + minsForAdjustments())}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane">
                <button class="btn btn-default btn-primary pull-left" (click)="addAdjust()">Add Adjustment</button>
                <button class="btn btn-primary pull-right" (click)="closeAdjust(thisForm)">Close</button>
            </div>
        </p-footer>
    </p-dialog>
</form>

<p-confirmDialog icon="fa fa-question-circle" width="480"></p-confirmDialog>

<p-dialog header="Break Policy Not Met" [(visible)]="breakInfoVisible" [modal]="true" [closeOnEscape]="false" (onHide)="dismissBreakPolicyInfo()">
    <p>This shift does not meet the requirements of the break policy for {{shiftBreakPolicy ?
        shiftBreakPolicy.description : "this area"}}.</p>
    <p>This shift should contain the below listed breaks, but there are insufficient gaps in the shift to do so.</p>
    <table *ngIf="shiftBreakPolicy" class="table table-striped table-responsive">
        <thead>
            <tr class="row">
                <th>Length of Shift</th>
                <th>Length of Break</th>
                <th>Paid or Unpaid?</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let def of shiftBreakPolicy.definitions" class="row">
                <td>{{pp.displayTime(def.minThreshold)}} or more</td>
                <td>{{pp.displayTime(def.breakLength)}}</td>
                <td>{{def.paid ? "Paid" : "Unpaid"}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary pull-right" (click)="dismissBreakPolicyInfo()">Ok</button>
</p-dialog>