<form #thisForm='ngForm'>
<p-dialog [(visible)]="adjustVisible" modal="modal" [width]="960" [minWidth]="640" [minHeight]="480" [responsive]="true"
    [closable]="false" [closeOnEscape]="false">
    <p-header>
        <div class="header-row">
            <button class="btn btn-primary pull-left" (click)="prevDay(thisForm)" [disabled]="dayOffset==0">Previous</button>
            <span class="text-center header-text">Hours for {{loc.dayOrder[dayOffset]}} {{payPro.dateOrd(weekCommencing, dayOffset)}} {{payPro.monthOf(weekCommencing, dayOffset)}}</span>
            <button class="btn btn-primary pull-right" (click)="nextDay(thisForm)" [disabled]="dayOffset==6">Next</button>
        </div>
    </p-header>
    <div id="adjust-modal-content">
        <table class="table table-striped">
            <thead>
                <tr class="row">
                    <th class="col-md-7">Team</th>
                    <th class="col-md-1">Start</th>
                    <th class="col-md-1">Finish</th>
                    <th class="col-md-1">Total</th>
                    <th class="col-md-1">Unpaid</th>
                    <th class="col-md-1">Actual</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shift of timesheet.shifts | shiftOffsetFilter:dayOffset" class="row">
                    <td>
                        <span *ngIf="!shift.validBreak" title="This shift has no gaps large enough to accommodate a 20 min break"
                            class="glyphicon glyphicon-warning-sign adjust-crit pull-right"></span>
                        <span>{{payPro.teamForContract(shift.contractCode, timesheet.contracts)}}</span>
                    </td>
                    <td>{{payPro.timeFromDate(shift.start)}}</td>
                    <td>{{payPro.timeFromDate(shift.finish)}}</td>
                    <td>{{payPro.displayTime(shift.shiftMins)}}</td>
                    <td>{{payPro.displayTime(shift.unpaidMins)}}</td>
                    <td>{{payPro.displayTime(shift.shiftMins - shift.unpaidMins)}}</td>
                </tr>
                <tr class="row">
                    <td colspan="3"><strong>Shift Totals</strong></td>
                    <td>{{payPro.displayTime(totalUnpaidHoursForDay(dayOffset) + totalActualHoursForDay(dayOffset))}}</td>
                    <td>{{payPro.displayTime(totalUnpaidHoursForDay(dayOffset))}}</td>
                    <td>{{payPro.displayTime(totalActualHoursForDay(dayOffset))}}</td>
                </tr>
            </tbody>
        </table>
        <table *ngIf="(timesheet.adjustments | adjustmentOffsetFilter:dayOffset).length > 0" class="table table-striped">
            <thead>
                <tr class="row">
                    <th class="col-md-4">Reason for Adjustment</th>
                    <th class="col-md-4">Team</th>
                    <th class="col-md-2">Approval</th>
                    <th class="col-md-1">Hours</th>
                    <th class="col-md-1">Mins</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let adjust of timesheet.adjustments | adjustmentOffsetFilter:dayOffset" class="row">
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon delete-button" (click)="removeAdjust(adjust)" title="Remove this adjustment">
                                <span class="glyphicon glyphicon-remove"></span>
                            </span>
                            <input class="form-control" type="text" [(ngModel)]="adjust.reason" [name]="'adjustReason' + adjust.guid"/>
                        </div>
                    </td>
                    <td>
                        <select class="form-control" [(ngModel)]="adjust.contractCode" [name]="'adjustContract' + adjust.guid">
                            <option *ngFor="let con of timesheet.contracts" [ngValue]="con.contractCode">{{con.teamDesc}}</option>
                        </select>
                    </td>
                    <td>
                        <button type="button" class="btn action-button" (click)="approve(adjust)" title="Approve this Adjustment"
                            [ngClass]="{'adjust-selected': adjust.authorised != null}">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="btn action-button" (click)="reject(adjust)" title="Reject this Adjustment"
                            [ngClass]="{'adjust-selected': adjust.rejected != null}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                    <td><p-spinner [(ngModel)]="adjust.hours" [max]="23" [min]="-23" size="2" [name]="'adjustHours' + adjust.guid"></p-spinner></td>
                    <td><p-spinner [(ngModel)]="adjust.mins" [max]="55" [min]="-55" [step]="5" size="2" [name]="'adjustMins' + adjust.guid"></p-spinner></td>
                </tr>
                <tr *ngIf="minsForAdjustments()" class="row">
                    <td colspan="4"><strong>Adjustment Totals</strong></td>
                    <td><strong>{{payPro.displayTime(minsForAdjustments())}}</strong></td>
                </tr>
                <tr *ngIf="minsForAdjustments()" class="row">
                    <td colspan="4"><strong>Daily Totals</strong></td>
                    <td><strong>{{payPro.displayTime(totalActualHoursForDay(dayOffset) + minsForAdjustments())}}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane">
            <button class="btn btn-default btn-primary pull-left" (click)="addAdjust()">Add Adjustment</button>
            <button class="btn btn-primary pull-right" (click)="closeAdjust(thisForm)">Close</button>
        </div>
    </p-footer>
</p-dialog>
</form>

<p-confirmDialog icon="fa fa-question-circle" width="480"></p-confirmDialog>
