<div class="panel panel-default" *ngIf="timesheet">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6">
				<h4>{{carer.forename}} {{carer.surname}} {{isContracted ? "[Contracted]" : "[Relief]"}} w/c {{timePro.displayDate(weekCommencing)}}</h4>
			</div>
			<div class="col-md-6">
				<a class="btn btn-primary btn-default pull-right" (click)="clearDetail()"><span class="glyphicon glyphicon-remove"></span>Close</a>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<!-- Team/Contract Summary -->
		<div class = "table-responsive">
			<table class="table table-striped" *ngIf="timesheet.contracts !== null">
				<thead class="thead-default">
					<tr class="row">
						<th class="col-md-1">Payroll No</th>
						<th class="col-md-4">Team</th>
						<th class="col-md-1">Cycle Week</th>
						<th class="col-md-1">Contracted Hours</th>
						<th class="col-md-1">Available Hours</th>
						<th class="col-md-1">Booking Hours</th>
						<th class="col-md-1">Actual Hours</th>
						<th class="col-md-1">Additional Hours</th>
						<th class="col-md-1">Sickness &amp; Leave</th>
					</tr>
				</thead>
				<tbody>
					<tr class="row" *ngFor="let contract of timesheet.contracts">
						<td>{{contract.payrollNumber}}</td>
						<td>{{contract.teamDesc}}</td>
						<td>{{contract.cycleWeek + 1}} of {{ contract.cycleLength + 1}}</td> <!-- This is out by one on the first digit under certain circumstances -->
						<td>{{timePro.displayTime(contract.contractMins)}}</td>
						<td>{{timePro.displayTime(availHoursForContract(contract.contractCode))}}</td>
						<td>{{timePro.displayTime(bookedHoursForContract(contract.contractCode))}}</td>
						<td>{{timePro.displayTime(actualHoursForContract(contract.contractCode))}}</td>
						<td>{{timePro.displayTime(additionalHoursForContract(contract.contractCode))}}</td>
						<td>{{timePro.displayTime(leaveSickHoursForContract(contract.contractCode))}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="table-responsive">
			<table class="table table-striped table-bordered table-rota">
				<thead>
					<tr class="row">
						<th *ngFor="let day of loc.dayOrder; let i = index" (click)="openAdjustments(i)"
							[title]="'Click here to adjust hours for ' + day + ' ' + timePro.dateOrd(weekCommencing, i) + ' ' + timePro.monthOf(weekCommencing, i)">
							<span>{{day}} {{timePro.dateOrd(weekCommencing, i)}}</span><br/>
							<span>{{timePro.displayTime(actualHoursForDay(i))}}</span>
							<span *ngIf="minsAdjustOffset(i) > 0" title="There are adjustments for this day"
								class="glyphicon glyphicon-exclamation-sign adjust-flag pull-right"></span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="row" *ngFor="let bk of bookings">
						<td *ngFor="let day of loc.dayOrder; let i = index" [style.background-color]="bookColor(bk[i])">
							<booking-card *ngIf="bk[i]" [booking]="bk[i]" (click)="openBookingDetail(bk[i])"></booking-card>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<timesheet-adjustment [(timesheet)]="timesheet" [(adjustVisible)]="adjustVisible" [dayOffset]="dayOffset"
			[weekCommencing]="weekCommencing"></timesheet-adjustment>

		<booking-detail [booking]="selectedBooking" [(bookingVisible)]="bookingVisible" [contracts]="timesheet.contracts"></booking-detail>

		<div>
			<span *ngIf="timesheet.contracts === null" class="danger">No Contracts found for this Carer</span>
		</div>
	</div>
</div>
