<form #sched>
    <p-dialog>

        <div *ngIf="sched" class="row">
            <div class="well form-inline">
                <select class="form-control" [(ngModel)]="sched.report" [name]="'selectedReport_'+i" (ngModelChange)="reportSelected($event)"
                    required>
                    <option *ngFor="let rep of reports" [ngValue]="rep">{{rep.name}}</option>
                </select>
                <select class="form-control" [(ngModel)]="sched.frequency" [name]="'selectedFreq_'+i" (ngModelchange)="freqSelected($event)"
                    required>
                    <option *ngFor="let freq of frequencies" [ngValue]="freq.key">{{freq.value}}</option>
                </select>
                <select class="form-control" [(ngModel)]="sched.scope" [name]="'selectedScope_'+i" (ngModelChange)="scopeSelected($event)">
                    <option *ngFor="let scope of scopes" [ngValue]="scope.key">{{scope.value}}</option>
                </select>
                <select *ngIf="sched.scope && sched.scope == 1" class="form-control" [(ngModel)]="sched.team" (ngModelChange)="teamSelected($event)">
                    <option *ngFor="let team of teams" [ngValue]="team">{{team.teamDesc}}</option>
                </select>
                <select *ngIf="sched.scope && sched.scope == 2" class="form-control" [(ngModel)]="sched.service" (ngModelChange)="serviceSelected($event)">
                    <option *ngFor="let service of services" [ngValue]="service">{{service.name}}</option>
                </select>
                <select *ngIf="sched.scope && sched.scope == 3" class="form-control" [(ngModel)]="sched.region" (ngModelChange)="regionSelected($event)">
                    <option *ngFor="let region of regions" [ngValue]="region">{{region.name}}</option>
                </select>
                <p-calendar [(ngModel)]="sched.runTime" [locale]="loc" dateFormat="dd/mm/yy" inputStyleClass="form-control" [inputStyle]="{'width': '96px', 'font-family': 'Century Gothic'}">
                    <!-- (onSelect)="nextRunSelected($event)" -->
                </p-calendar>
            </div>
        </tr>

    </p-dialog>
</form>