h4, select, span, .btn.btn-primary, label {
    font-family: 'Century Gothic';
}

.ui-dialog-titlebar.ui-widget-header {
    background-color: rgba(191, 215, 48, 0.5);
}

.btn.btn-primary, p-calendar button {
    background-color: rgba(191, 215, 48, 1.0)!important;
    color: black;
    font-size: 11pt;
    border-color: black;
}

.btn.btn-primary:hover {
    background-color: hotpink;
}

.header-buttons:first-child() {
    margin-right: 8px;
}

label {
    width: 25%;
}