<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h4><strong>Reporting</strong></h4>
            </div>
        </div>
    </div>
    <div class="panel-body" *ngIf="reportPdfUrl">
        <object [data]="reportPdfUrl" type="application/pdf">
            <p>There is no report only Zuul</p>
        </object>
    </div>
    <div class="panel-body" *ngIf="!reportPdfUrl">
        <div class="alert alert-info">
            <i class="fa fa-cog fa-spin fa-2x"></i>
            <span class="loading">Please wait, retrieving your report...</span>
        </div>
    </div>
</div>