h4, label, select, td, th {
    font-family: 'Century Gothic';
    font-weight: normal;
}

.panel {
    border: 1px solid;
    border-color: slategray;
    background-color: rgba(255,255,255,0.5);
    margin-top: 24px;
}

.panel-heading {
    border-bottom: 1px solid silver;
    border-color: slategray;
    background-color: rgba(191, 215, 48, 0.5);
}

.panel-body {
    height:89vh;
    /* overflow-y:scroll; */
    padding: 0px;
}

.btn-default, .btn-primary {
    background-color: #bfd730;
    color: black;
    border-color: black;
    font-family: 'Century Gothic';
}

.btn-default:hover, .btn-primary:hover, .btn-default:focus, .btn-primary:focus {
    background-color: hotpink;
    color: black;
    border-color: black;
    cursor: pointer;
}

.btn-primary:hover:disabled {
    cursor: not-allowed;
}

object {
    width: 100%;
    height: 100%;
}

span.loading {
    font-family: 'Century Gothic';
    font-size: 14pt;
    margin-left: 8px;
}

.alert {
    margin: 16px;
}
/* 
.form-inline {
    text-align: left;
}
 */
.section-heading {
    margin-top: 4px;
}

.section-heading .glyphicon {
    top: 4px;
    margin-right: 4px;
    font-size: 16pt;
}

.report-filters .list-group-item {
    border-radius: 0px;
    background-color: whitesmoke;
}

.report-filters.list-group {
    margin-bottom: 0px;
}