h4, label, select, input, td, textarea, p {
    font-family: 'Century Gothic';
    font-weight: normal;
}

td {
    font-size: 11pt;
}

p {
    padding: 10px;
}

strong, textarea, p, th, span {
    font-family: 'Century Gothic';
    font-size: 11pt;
}

label, select, input, .input-group {
    font-size: 11pt;
    margin-right: 10px;
    vertical-align: middle;
}

label {
    text-align: right;
    font-style: italic;
    margin-left: 4px;
}

.panel {
    margin-top: 20px;
    margin-left: 0px;
}

.btn-default, .btn-primary {
    background-color: #bfd730;
    color: black;
    border-color: black;
}

.btn-default:hover, .btn-primary:hover, .btn-default:focus, .btn-primary:focus {
    background-color: rgba(255, 105, 180, 0.5);
    color: black;
    border-color: black;
}

.table-row:hover {
    cursor: pointer;
    background-color: rgba(255, 105, 180, 0.5);
    color: black;
}

.panel {
    border: 1px solid;
    border-color: slategray;
    background-color: rgba(255,255,255,0.5);
}

.panel-heading {
    border-bottom: 1px solid silver;
    border-color: slategray;
    background-color: rgba(191, 215, 48, 0.5);
}

[disabled], [readonly], select > option {
    background-color: rgba(191, 215, 48, 0.5);
}

.check-label, .nudge-down {
    margin-top: 6px;
}

.btn-group button {
    width:104px;
    font-family: 'Century Gothic';
}

button.selected {
    background-color: hotpink!important;
}

.panel-section {
    padding-bottom: 4px;
}

.checklist-cell {
    text-align: center;
}

span.label {
    background-color: #bfd730;
    color: black;
    font-family: 'Century Gothic';
    font-size: 11pt;
}

.slider-inner {
    margin: 8px 8px 8px 4px;
}

.slider-boxed {
    padding: 8px 8px 0px 8px;
    border: 1px solid silver;
    border-radius: 4px;
    background-color: rgba(191, 215, 48, 0.5)
}

.slider-legend {
    display: inline-block;
    width:100%;
}

.slider-nudge {
    margin-top: 10px;
}