<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="section-heading">
            <span class="glyphicon glyphicon-transfer"></span>
            <span class="glyphicon glyphicon-user"></span>
            <strong>User Integration</strong>
        </h4>
    </div>
    <div class="panel-body">
        <div *ngIf="!users" class="alert alert-info">
            <i class="fa fa-cog fa-spin fa-2x"></i>
            <span class="loading">Please wait, retreiving your user information...</span>
        </div>
        <table *ngIf="users" class="table table-striped table-responsive">
            <tr *ngFor="let user of users">
                <td>{{user.firstName}} {{user.lastName}}</td>
            </tr>
        </table>
    </div>
</div>