/* Panel Styling */

h4, label, select, input, td, th {
    font-family: 'Century Gothic';
    font-weight: normal;
}

.panel {
    border: 1px solid;
    border-color: slategray;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    margin-left: 0px;
}

.panel-heading {
    border-bottom: 1px solid silver;
    border-color: slategray;
    background-color: rgba(191, 215, 48, 0.5);
}

.section-heading .glyphicon {
    top: 4px;
    margin-right: 4px;
    font-size: 16pt;
}

span.loading {
    font-family: 'Century Gothic';
    font-size: 14pt;
    margin-left: 8px;
}

/* Table styling */
.table-responsive {
    clear: right;
}

table tbody tr:hover {
    background-color: rgba(255, 105, 180, 0.5);
    cursor: pointer;
}

table .glyphicon-ok {
    color: green;
}

table td.syscheck {
    text-align: center;
}

tbody {
    overflow-y: hidden;
}

/* Table scroll stuff */

/* Input group addon fix */
.input-group .input-group-addon, .input-group input {
    top: 4px;
}

/* Progress Bar */
.progress {
    height: 40px;
}

.progress-bar {
    width: 100%;
}

.progress-bar h4 {
    color: black;
}

/* Button styles */
.btn-default, .btn-primary {
    background-color: #bfd730;
    color: black;
    border-color: black;
    font-family: 'Century Gothic';
}

.btn-primary:enabled:hover, .btn-primary:enabled:focus {
    cursor: pointer;
    color: black;
    background-color: hotpink;
}

.btn-primary:enabled:focus {
    box-shadow: 1px solid red;
}

.btn-primary[disabled="true"]:hover, .btn-primary[disabled="true"]:focus {
    cursor: not-allowed;
    color: black;
    background-color: #bfd730;
}

.btn-primary i {
    margin-right: 8px;
}

/* InputGroup Refresh Button tweaks*/
.input-wrapper {
    width: 90%;
}

.btn-refresh {
    margin-top: 4px;
}
