h4, label, select, td, th {
    font-family: 'Century Gothic';
    font-weight: normal;
}

.panel {
    border: 1px solid;
    border-color: slategray;
    background-color: rgba(255,255,255,0.5);
}

.panel-heading {
    border-bottom: 1px solid silver;
    border-color: slategray;
    background-color: rgba(191, 215, 48, 0.5);
}

.btn-default, .btn-primary {
    background-color: #bfd730;
    color: black;
    border-color: black;
}

.btn-default:hover, .btn-primary:hover, .btn-default:focus, .btn-primary:focus {
    background-color: hotpink;
    color: black;
    border-color: black;
}

table tr {
    cursor: pointer;
}

table tr:hover {
    background-color: rgba(255, 105, 180, 0.5);
}

p-calendar > span.ui-calendar > input {
    height: 34px;
    width: 120px;
    font-family: 'Century Gothic';
}

/*.summ-toggle {
    width: 48px;
    font-size: 14pt;
    height: 36px;
    border-color: darkslategray;
    color: darkslategray;
}*/

.date-controls {
    display: inline-block;
    text-align: right;
}

tr.add-hours-highlight > td {
    color:green;
    font-weight: bold;
}