<div class="panel">
	<div class="panel-heading">
		<div class="row">
			<!--<h4>{{team.teamDesc}} : {{displayMonth()}}</h4>-->
			<h4 class="col-md-4 section-heading">
                <strong>
                    <span class="glyphicon glyphicon-align-justify"></span>
                    <span>Payroll Summary</span>
                </strong>
            </h4>
			<div class="col-md-4 form-inline date-controls">
				<button class="btn btn-primary week-nav" (click)="periodBack()">
					<i class="fa fa-angle-left"></i>
				</button>
				<label class="control-label" for="periodStart">From</label>
				<p-calendar [(ngModel)]="periodStart" id="periodStart" [locale]="loc" dateFormat="dd/mm/yy"
					(onSelect)="periodStartSelected($event)" [inputStyle]="{'width': '96px'}"></p-calendar>
				<!-- Add [showIcon]="true" -->
				<label class="control-label" for="periodFinish">To</label>
				<p-calendar [(ngModel)]="periodFinish" id="periodFinish" [locale]="loc" dateFormat="dd/mm/yy"
				(onSelect)="periodFinishSelected($event)" [inputStyle]="{'width': '96px'}"></p-calendar>
				<!-- Add [showIcon]="true" -->
				<button class="btn btn-primary week-nav" (click)="periodForward()">
					<i class="fa fa-angle-right"></i>
				</button>
			</div>
            <div class="col-md-4">
                <div class="btn-group">
                    <button class="btn btn-default btn-primary summ-toggle" (click)="toggleSummary()">
                        <span *ngIf="showSummary" class="glyphicon glyphicon-chevron-up"></span>
                        <span *ngIf="!showSummary" class="glyphicon glyphicon-chevron-down"></span>
                        <span>{{showSummary ? "Hide" : "Show"}}</span>
					</button>
                    <button class="btn btn-primary" (click)="showExport()">
                        <span class="glyphicon glyphicon-export"></span>
                        <span>Export</span>
					</button>
                    <button class="btn btn-primary" (click)="showReview()">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span>Review</span>
					</button>
                    <button class="btn btn-primary" (click)="showApproval()">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>Approve</span>
					</button>
                </div>
            </div>
		</div>
	</div>
	<div class="panel-body" *ngIf="showSummary && !error && summaries">
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr class="row">
						<th class="col-md-2">Staff Name</th>
						<th class="col-md-1">Payroll Number</th>
						<th class="col-md-1">Hours Accruing</th>
						<th class="col-md-1">Supervision / Training</th>
						<th class="col-md-1">Sickness / Annual Leave</th>
						<th class="col-md-1">Contracted Hours</th>
						<th class="col-md-1">Contact Hours</th>
						<th class="col-md-1">Actual Hours</th>
						<th class="col-md-1">Additional Hours</th>
						<th class="col-md-1">Unpaid Hours</th>
						<th class="col-md-1">Utilization</th>
					</tr>
				</thead>
				<tbody>
					<tr class="row" *ngFor="let sum of summaries" (click)="selectCarer(sum)" [ngClass]="{'add-hours-highlight' : additionalHours(sum) > 0}">
						<td title="{{sum.forename}} {{sum.surname}}">
							<span *ngIf="sum.monthlyContractMins == 0" class="contract-status glyphicon glyphicon-registration-mark" title="Relief"></span>
							<span *ngIf="sum.monthlyContractMins != 0" class="contract-status glyphicon glyphicon-copyright-mark" title="Contracted"></span>
							{{sum.forename}} {{sum.surname}}
						</td>
						<td>{{sum.personnelNumber}}</td>
						<td>{{displayTime((sum.monthlyContractMins-sum.actualMins < 0) ? 0 : sum.monthlyContractMins-sum.actualMins)}}</td>
						<td>{{displayTime(sum.supervision + sum.training)}}</td>
						<td>{{displayTime(sum.annualLeave + sum.maternityOtherLeave + sum.sicknessAbsence)}}</td>
						<td>{{displayTime(sum.monthlyContractMins)}}</td>
						<td>{{displayTime(sum.contact)}}</td>
						<td>{{displayTime(sum.actualMins)}}</td>
						<td>{{displayTime(additionalHours(sum))}}</td>
						<td>{{displayTime(sum.unpaidMins)}}</td>
						<td>{{displayPercent(sum.contactTimeMins, sum.actualMins)}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel-body" *ngIf="showSummary && !summaries && !error">
		<div class="alert alert-info">
			<i class="fa fa-cog fa-spin fa-2x"></i>
			<span class="loading">Please wait, retrieving your data...</span>
		</div>
	</div>
	<div class="panel-body" *ngIf="showSummary && error">
		<div class="alert alert-danger">
			<i class="fa fa-exclamation-circle fa-2x"></i>
			<span class="loading">An error occurred retrieving your data [{{error.status}} {{error.statusText}}]</span>
		</div>
	</div>
</div>