<div class="panel">
	<div class="panel-heading">
		<div class="row">
			<!--<h4>{{team.teamDesc}} : {{displayMonth()}}</h4>-->
			<h4 class="col-md-3">Payroll Summary</h4>
			<div class="col-md-9 form-inline date-controls">
				<label class="control-label" for="periodStart">From</label>
				<p-calendar [(ngModel)]="periodStart" id="periodStart" [locale]="loc" dateFormat="dd/mm/yy"
					(onSelect)="periodStartSelected($event)"></p-calendar>	<!-- Add [showIcon]="true" -->
				<label class="control-label" for="periodFinish">To</label>
				<p-calendar [(ngModel)]="periodFinish" id="periodFinish" [locale]="loc" dateFormat="dd/mm/yy"
					(onSelect)="periodFinishSelected($event)"></p-calendar>	<!-- Add [showIcon]="true" -->
				<a class="btn btn-default btn-primary summ-toggle" (click)="toggleSummary()">
					<span *ngIf="showSummary" class="glyphicon glyphicon-chevron-up"></span>
					<span *ngIf="!showSummary" class="glyphicon glyphicon-chevron-down"></span>
					<span>{{showSummary ? "Hide" : "Show"}}</span>
				</a>
				<a class="btn btn-primary" (click)="showReview()">
					<span class="glyphicon glyphicon-thumbs-up"></span>
					<span>Review</span>
				</a>
			</div>
		</div>
	</div>
	<div class="panel-body" *ngIf="showSummary && summaries">
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr class="row">
						<th class="col-md-3">Staff Name</th>
						<th class="col-md-1">Payroll Number</th>
						<th class="col-md-1">Hours Accruing</th>
						<th class="col-md-1">Supervision / Training</th>
						<th class="col-md-1">Sickness / Annual Leave</th>
						<th class="col-md-1">Contracted Hours</th>
						<th class="col-md-1">Contact Hours</th>
						<th class="col-md-1">Actual Hours</th>
						<th class="col-md-1">Additional Hours</th>
						<th class="col-md-1">Unpaid Hours</th>
					</tr>
				</thead>
				<tbody>
					<tr class="row" *ngFor="let sum of summaries" (click)="selectCarer(sum)" [ngClass]="{'add-hours-highlight' : additionalHours(sum) > 0}">
						<td>
							<span *ngIf="sum.monthlyContractMins == 0" class="contract-status glyphicon glyphicon-registration-mark" title="Relief"></span>
							<span *ngIf="sum.monthlyContractMins != 0" class="contract-status glyphicon glyphicon-copyright-mark" title="Contracted"></span>
							{{sum.forename}} {{sum.surname}}
						</td>
						<td>{{sum.personnelNumber}}</td>
						<td>{{displayTime(sum.monthlyContractMins-sum.actualMins < 0 ? 0 : sum.monthlyContractMins-sum.actualMins)}}</td>
						<td>{{displayTime(sum.superTrainMins)}}</td>
						<td>{{displayTime(sum.leaveSickMins)}}</td>
						<td>{{displayTime(sum.monthlyContractMins)}}</td>
						<td>{{displayTime(sum.contactTimeMins)}}</td>
						<td>{{displayTime(sum.actualMins)}}</td>
						<td>{{displayTime(additionalHours(sum))}}
						<td>{{displayTime(sum.unpaidMins)}}
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel-body" *ngIf="showSummary && !summaries">
		<h4>Please wait, retrieving your data...</h4>
	</div>
</div>		

