@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.table-layout {
    display: table;
    width: 100%;
}

.table-layout > div {
    display: table-cell;
}

.col-fixed {
    width: 275px;
}

.col-fluid {
    padding: 0px 16px;
}