<div class="panel">
    <div class="panel-heading">
        <div class="row">
            <h4 class="col-md-6">Payroll Review</h4>
            <div class="col-md-6">
                <a class="btn btn-primary btn-default pull-right" (click)="clearDetail()"><span class="glyphicon glyphicon-remove"></span>Close</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <h4 *ngIf="!valid">Please wait, retrieving your data...</h4>
        <div *ngIf="valid && valid.pendingAdjustments.length > 0" class="table-responsive">
            <h4>Adjustments for Approval</h4>
            <hr/>
            <table class="table table-striped">
                <thead class="row">
                    <th class="col-md-3">Carer</th>
                    <th class="col-md-1">Date</th>
                    <th class="col-md-1">Time</th>
                    <th class="col-md-3">Reason</th>
                    <th class="col-md-2">Approval</th>
                    <th class="col-md-2">Authorisation</th>
                </thead>
                <tbody>
                    <tr *ngFor="let adjust of valid.pendingAdjustments" class="row" (click)="showAdjust(adjust)">
                        <td>{{carerForAdjust(adjust).forename}} {{carerForAdjust(adjust).surname}}</td>
                        <td>{{payPro.displayDate(addDays(adjust.weekCommencing, adjust.dayOffset))}}</td>
                        <td>{{payPro.displayTime((adjust.hours * 60) + adjust.mins)}}</td>
                        <td>{{adjust.reason}}</td>
                        <td>
                            <button type="button" class="btn action-button" [ngClass]="{'adjust-selected': adjust.authorised != null}">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" class="btn action-button" [ngClass]="{'adjust-selected': adjust.rejected != null}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                        <td>{{authInfo(adjust)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="valid && valid.otherAdjustments.length > 0" class="table-responsive">
            <h4>Adjustments Approved/Rejected</h4>
            <hr/>
            <table class="table table-striped">
                <thead class="row">
                    <th class="col-md-3">Carer</th>
                    <th class="col-md-1">Date</th>
                    <th class="col-md-1">Time</th>
                    <th class="col-md-3">Reason</th>
                    <th class="col-md-2">Approval</th>
                    <th class="col-md-2">Authorisation</th>
                </thead>
                <tbody>
                    <tr *ngFor="let adjust of valid.otherAdjustments" class="row" (click)="showAdjust(adjust)">
                        <td>{{carerForAdjust(adjust).forename}} {{carerForAdjust(adjust).surname}}</td>
                        <td>{{payPro.displayDate(addDays(adjust.weekCommencing, adjust.dayOffset))}}</td>
                        <td>{{payPro.displayTime((adjust.hours * 60) + adjust.mins)}}</td>
                        <td>{{adjust.reason}}</td>
                        <td>
                            <button type="button" class="btn action-button" [ngClass]="{'adjust-selected': adjust.authorised != null}">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" class="btn action-button" [ngClass]="{'adjust-selected': adjust.rejected != null}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                        <td>{{authInfo(adjust)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="valid && valid.carerDataValidationItems.length > 0" class="table-responsive">
            <h4>Data Revisions Required</h4>
            <hr/>
            <table class="table table-striped">
                <thead class="row">
                    <th class="col-md-3">Carer</th>
                    <th class="col-md-9">Revision(s) Required</th>
                </thead>
                <tbody>
                    <tr *ngFor="let rev of valid.carerDataValidationItems" class="row">
                        <td>{{rev.carer.forename}} {{rev.carer.surname}}</td>
                        <td>{{rev.revision}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<timesheet-adjustment *ngIf="timesheet" [(timesheet)]="timesheet" [(adjustVisible)]="adjustVisible" [dayOffset]="dayOffset"
    [weekCommencing]="weekCommencing" (timesheetChange)="handleChanges($event)"></timesheet-adjustment>

