h4, label, select {
    font-family: 'Century Gothic';
    font-weight: normal;
}

.panel {
    border: 1px solid;
    border-color: slategray;
    background-color: rgba(255,255,255,0.5);
}

.panel-heading {
    border-bottom: 1px solid silver;
    border-color: slategray;
    background-color: rgba(191, 215, 48, 0.5);
}