<div class="panel panel-default" *ngIf="timesheet">
	<div class="panel-heading">
		<h4>{{carer.forename}} {{carer.surname}} {{isContracted ? "[Contracted]" : "[Relief]"}} w/c {{displayDate(weekCommencing)}}</h4>
	</div>
	<div class="panel-body">
		<!-- Team/Contract Summary -->
		<div class = "table-responsive">
			<table class="table table-striped" *ngIf="timesheet.contracts !== null">
				<thead class="thead-default">
					<tr class="row">
						<th class="col-md-1">Payroll No</th>
						<th class="col-md-4">Team</th>
						<th class="col-md-1">Cycle Week</th>
						<th class="col-md-1">Contracted Hours</th>
						<th class="col-md-1">Available Hours</th>
						<th class="col-md-1">Booking Hours</th>
						<th class="col-md-1">Actual Hours</th>
						<th class="col-md-1">Additional Hours</th>
						<th class="col-md-1">Sickness &amp; Leave</th>
					</tr>
				</thead>
				<tbody>
					<tr class="row" *ngFor="let contract of timesheet.contracts">
						<td>{{contract.payrollNumber}}</td>
						<td>{{contract.teamDesc}}</td>
						<td>{{contract.cycleWeek + 1}} of {{ contract.cycleLength + 1}}</td> <!-- This is out by one on the first digit under certain circumstances -->
						<td>{{displayTime(contract.contractMins)}}</td>
						<td>{{displayTime(availHoursForContract(contract.contractCode))}}</td>
						<td>{{displayTime(bookedHoursForContract(contract.contractCode)-leaveSickHoursForContract(contract.contractCode))}}</td>
						<td>{{displayTime(actualHoursForContract(contract.contractCode))}}</td>
						<td>{{displayTime(additionalHoursForContract(contract.contractCode))}}</td>
						<td>{{displayTime(leaveSickHoursForContract(contract.contractCode))}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="table-responsive">
			<table class="table table-striped table-bordered table-rota">
				<thead>
					<tr class="row">
						<th *ngFor="let day of days; let i = index" (click)="openAdjustments(i)"
							[title]="'Click here to adjust hours for ' + days[i] + ' ' + dateOrd(i)">
							<span>{{days[i]}} {{dateOrd(i)}}</span><br/><span>{{displayTime(actualHoursForDay(i))}}</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="row" *ngFor="let bk of bookings">
						<td *ngFor="let day of days; let i = index" [style.background-color]="bookColor(bk[i])">
							<booking-card *ngIf="bk[i]" [booking]="bk[i]"></booking-card>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

		<!-- TODO Consider making this it's own component -->
		<p-dialog [(visible)]="adjustVisible" modal="modal" [width]="920" [minWidth]="640" [minHeight]="480" [responsive]="true"
			[closable]="false" [closeOnEscape]="false">
			<header><span>Hours for {{days[dayOffset]}} {{dateOrd(dayOffset)}}</span></header>
			<div id="adjust-modal-content">
				<table class="table table-striped">
					<thead class="row">
						<th class="col-md-2">Start</th>
						<th class="col-md-6">Finish</th>
						<th class="col-md-2">Unpaid</th>
						<th class="col-md-2">Hours</th>
					</thead>
					<tbody>
						<tr *ngFor="let shift of timesheet.shifts | shiftOffsetFilter:dayOffset" class="row">
							<td>{{timeFromDate(shift.start)}}</td>
							<td>{{timeFromDate(shift.finish)}}</td>
							<td>{{displayTime(shift.unpaidMins)}}</td>
							<td>{{displayTime(shift.shiftMins)}}</td>
						</tr>
						<tr class="row">
							<td colspan="3"><strong>Shift Totals</strong></td>
							<td><strong>{{displayTime(actualShiftTimeForDay(dayOffset))}}</strong></td>
						</tr>
					</tbody>
				</table>
				<table *ngIf="(timesheet.adjustments | adjustmentOffsetFilter:dayOffset).length > 0" class="table table-striped">
					<thead class="row">
						<th class="col-md-5">Reason for Adjustment</th>
						<th class="col-md-5">Team</th>
						<th class="col-md-1">Hours</th>
						<th class="col-md-1">Mins</th>
					</thead>
					<tbody>
						<tr *ngFor="let adjust of timesheet.adjustments | adjustmentOffsetFilter:dayOffset" class="row">
							<td>
								<div class="input-group">
									<span class="input-group-addon delete-button" (click)="removeAdjust(adjust)" title="Remove this adjustment">
										<span class="glyphicon glyphicon-remove"></span>
									</span>
									<input class="form-control" type="text" [(ngModel)]="adjust.reason"/>
								</div>
							</td>
							<td>
								<select class="form-control" [(ngModel)]="adjust.contractCode">
									<option *ngFor="let con of timesheet.contracts" [ngValue]="con.contractCode">{{con.teamDesc}}</option>
								</select>
							</td>
							<td><p-spinner [(ngModel)]="adjust.hours" [max]="23" [min]="-23" size="2"></p-spinner></td>
							<td><p-spinner [(ngModel)]="adjust.mins" [max]="55" [min]="-55" [step]="5" size="2"></p-spinner></td>
						</tr>
						<tr *ngIf="minsForAdjustments()" class="row">
							<td colspan="2"><strong>Adjustment Totals</strong></td>
							<td><strong>{{displayTime(minsForAdjustments())}}</strong></td>
						</tr>
						<tr *ngIf="minsForAdjustments()" class="row">
							<td colspan="2"><strong>Daily Totals</strong></td>
							<td><strong>{{displayTime(actualShiftTimeForDay(dayOffset) + minsForAdjustments())}}</strong></td>
						</tr>
					</tbody>
				</table>
			</div>
			<footer>
				<div class="ui-dialog-buttonpane">
					<button class="btn btn-default btn-primary pull-left" (click)="addAdjust()">Add Adjustment</button>
					<button class="btn btn-primary pull-right" (click)="closeAdjust()">Close</button>
				</div>
			</footer>
		</p-dialog>

		<!--<table class="table" *ngIf="combinedAvailability()">
			<thead class="row">
				<th class="col-md-4">Team</th>
				<th class="col-md-3">Availability Type</th>
				<th class="col-md-2">Start Time</th>
				<th class="col-md-2">Finish Time</th>
				<th class="col-md-1">Duration</th>
			</thead>
			<tr class="row" *ngFor="let avail of combinedAvailability()">
				<td>To be included</td>
				<td>{{avail.availDesc}}</td>
				<td>{{formatDate(avail.thisStart)}}</td>
				<td>{{formatDate(avail.thisFinish)}}</td>
				<td>{{displayTime(avail.thisMins)}}
			</tr>
		</table>-->

		<div >
			<span *ngIf="timesheet.contracts === null" class="danger">No Contracts found for this Carer</span>
		</div>
	</div>
</div>
