<div class="panel panel-default" *ngIf="timesheet">
	<div class="panel-heading">
		<h4>{{carer.forename}} {{carer.surname}} {{isContracted ? "[Contracted]" : "[Relief]"}} w/c {{displayDate(weekCommencing)}}</h4>
	</div>
	<div class="panel-body">
		<!-- Team/Contract Summary -->
		<div class = "table-responsive">
			<table class="table table-striped" *ngIf="timesheet.contracts !== null">
				<thead class="thead-default">
					<tr class="row">
						<th class="col-md-1">Payroll No</th>
						<th class="col-md-4">Team</th>
						<th class="col-md-1">Cycle Week</th>
						<th class="col-md-1">Contracted Hours</th>
						<th class="col-md-1">Available Hours</th>
						<th class="col-md-1">Booking Hours</th>
						<th class="col-md-1">Actual Hours</th>
						<th class="col-md-1">Additional Hours</th>
						<th class="col-md-1">Sickness &amp; Annual Leave</th>
					</tr>
				</thead>
				<tbody>
					<tr class="row" *ngFor="let contract of timesheet.contracts">
						<td>{{contract.payrollNumber}}</td>
						<td>{{contract.teamDesc}}</td>
						<td>{{contract.cycleWeek + 1}} of {{ contract.cycleLength + 1}}</td> <!-- This is out by one on the first digit under certain circumstances -->
						<td>{{displayTime(contract.contractMins)}}</td>
						<td>{{displayTime(availHoursForContract(contract.contractCode))}}</td>
						<td>{{displayTime(bookedHoursForContract(contract.contractCode)-leaveSickHoursForContract(contract.contractCode))}}</td>
						<td>{{displayTime(actualHoursForContract(contract.contractCode))}}</td>
						<td>{{displayTime(additionalHoursForContract(contract.contractCode))}}</td>
						<td>{{displayTime(leaveSickHoursForContract(contract.contractCode))}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="table-responsive">
			<table class="table table-striped table-bordered table-rota">
				<thead>
					<tr class="row">
						<th [title]="'Click here to adjust hours for Monday ' + dateOrd(0)" (click)="adjustHours(0, 'Monday')">Monday {{dateOrd(0)}}<br/>{{displayTime(actualHoursForDay(0))}}</th>
						<th [title]="'Click here to adjust hours for Tuesday ' + dateOrd(1)" (click)="adjustHours(1, 'Tuesday')">Tuesday {{dateOrd(1)}}<br/>{{displayTime(actualHoursForDay(1))}}</th>
						<th [title]="'Click here to adjust hours for Wednesday ' + dateOrd(2)" (click)="adjustHours(2, 'Wednesday')">Wednesday {{dateOrd(2)}}<br/>{{displayTime(actualHoursForDay(2))}}</th>
						<th [title]="'Click here to adjust hours for Thursday ' + dateOrd(3)" (click)="adjustHours(3, 'Thursday')">Thursday {{dateOrd(3)}}<br/>{{displayTime(actualHoursForDay(3))}}</th>
						<th [title]="'Click here to adjust hours for Friday ' + dateOrd(4)" (click)="adjustHours(4, 'Friday')">Friday {{dateOrd(4)}}<br/>{{displayTime(actualHoursForDay(4))}}</th>
						<th [title]="'Click here to adjust hours for Saturday ' + dateOrd(5)" (click)="adjustHours(5, 'Saturday')">Saturday {{dateOrd(5)}}<br/>{{displayTime(actualHoursForDay(5))}}</th>
						<th [title]="'Click here to adjust hours for Sunday ' + dateOrd(6)" (click)="adjustHours(6, 'Sunday')">Sunday {{dateOrd(6)}}<br/>{{displayTime(actualHoursForDay(6))}}</th>
					</tr>
				</thead>
				<tbody>
					<tr class="row" *ngFor="let bk of bookings">
						<td [style.background-color]="bookColor(bk[0])"><booking-card *ngIf="bk[0]" [booking]="bk[0]"></booking-card></td>
						<td [style.background-color]="bookColor(bk[1])"><booking-card *ngIf="bk[1]" [booking]="bk[1]"></booking-card></td>
						<td [style.background-color]="bookColor(bk[2])"><booking-card *ngIf="bk[2]" [booking]="bk[2]"></booking-card></td>
						<td [style.background-color]="bookColor(bk[3])"><booking-card *ngIf="bk[3]" [booking]="bk[3]"></booking-card></td>
						<td [style.background-color]="bookColor(bk[4])"><booking-card *ngIf="bk[4]" [booking]="bk[4]"></booking-card></td>
						<td [style.background-color]="bookColor(bk[5])"><booking-card *ngIf="bk[5]" [booking]="bk[5]"></booking-card></td>
						<td [style.background-color]="bookColor(bk[6])"><booking-card *ngIf="bk[6]" [booking]="bk[6]"></booking-card></td>
					</tr>
				</tbody>
			</table>

		</div>

		<!-- TODO Consider making this it's own component -->
		<p-dialog [(visible)]="adjustVisible" modal="modal" [width]="600" [minWidth]="450" [minHeight]="450" [responsive]="true"
			[closable]="false" [closeOnEscape]="false">
			<header><span>Hours for {{adjustDay}} {{dateOrd(adjustDate)}}</span></header>
			<div id="adjust-modal-content">
				<table class="table table-striped">
					<thead class="row">
						<th class="col-md-2">Start</th>
						<th class="col-md-8">Finish</th>
						<th class="col-md-2">Hours</th>
					</thead>
					<tbody>
						<tr *ngFor="let shift of adjustShifts" class="row">
							<td>{{timeFromDate(shift.start)}}</td>
							<td>{{timeFromDate(shift.finish)}}</td>
							<td>{{displayTime(shift.shiftMins)}}</td>
						</tr>
						<tr class="row">
							<td colspan="2"><strong>Shift Totals</strong></td>
							<td><strong>{{displayTime(actualHoursForDay(adjustDate))}}</strong></td>
						</tr>
					</tbody>
				</table>
				<table *ngIf="adjustments.length > 0" class="table table-striped">
					<thead class="row">
						<th class="col-md-8">Reason for Adjustment</th>
						<th class="col-md-2">Hours</th>
						<th class="col-md-2">Mins</th>
					</thead>
					<tbody>
						<tr *ngFor="let adjust of adjustments" class="row">
							<td>
								<div class="input-group">
									<span class="input-group-addon" (click)="removeAdjust(adjust)">
										<span class="glyphicon glyphicon-remove"></span>
									</span>
									<input class="form-control" type="text" [(ngModel)]="adjust.reason"/>
								</div>
							</td>
							<td><p-spinner [(ngModel)]="adjust.hours" [max]="23" [min]="-23" size="2"></p-spinner></td>
							<td><p-spinner [(ngModel)]="adjust.mins" [max]="55" [min]="-55" [step]="5" size="2"></p-spinner></td>
						</tr>
						<tr *ngIf="minsForAdjustments()" class="row">
							<td colspan="2"><strong>Adjustment Totals</strong></td>
							<td><strong>{{displayTime(minsForAdjustments())}}</strong></td>
						</tr>
						<tr *ngIf="minsForAdjustments()" class="row">
							<td colspan="2"><strong>Daily Totals</strong></td>
							<td><strong>{{displayTime(actualHoursForDay(adjustDate) + minsForAdjustments())}}</strong></td>
						</tr>
					</tbody>
				</table>
			</div>
			<footer>
				<div class="ui-dialog-buttonpane">
					<button class="btn btn-default btn-primary pull-left" (click)="addAdjust()">Add Adjustment</button>
					<button class="btn btn-primary pull-right" (click)="closeAdjust()">Close</button>
				</div>
			</footer>
		</p-dialog>

		<!--<table class="table" *ngIf="combinedAvailability()">
			<thead class="row">
				<th class="col-md-4">Team</th>
				<th class="col-md-3">Availability Type</th>
				<th class="col-md-2">Start Time</th>
				<th class="col-md-2">Finish Time</th>
				<th class="col-md-1">Duration</th>
			</thead>
			<tr class="row" *ngFor="let avail of combinedAvailability()">
				<td>To be included</td>
				<td>{{avail.availDesc}}</td>
				<td>{{formatDate(avail.thisStart)}}</td>
				<td>{{formatDate(avail.thisFinish)}}</td>
				<td>{{displayTime(avail.thisMins)}}
			</tr>
		</table>-->

		<div >
			<span *ngIf="timesheet.contracts === null" class="danger">No Contracts found for this Carer</span>
		</div>
	</div>
</div>
