.accident-panel {
    margin-top: 16px;
}

.panel-heading {
    background-color: rgba(191, 215, 48, 0.5);
}

.panel-body {
    height:89vh;
    overflow-y:scroll;
    font-family: 'Century Gothic';
}

h4, table, .loading {
    font-family: 'Century Gothic';
}

span.loading {
    font-size: 14pt;
    margin-left: 8px;
}

select {
    width: 100%;
}