<div class="panel panel-default accident-panel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h4>
                    <strong>Incident Report
                        <span *ngIf="incident">{{incident.id}}</span>
                    </strong>
                </h4>
            </div>
        </div>
    </div>
    <div class="panel-body" *ngIf="incident">
        <div class="form-group form-inline">
            <!-- <div class="col-md-4">
                <label class="form-label">Incident Id</label>
                <input type="text" class="form-control" [ngModel]="incident.id" disabled="true" />
            </div> -->
            <div class="col-md-4">
                <label class="form-label">Service Location</label>
                <select class="form-control" [(ngModel)]="incident.locationId">
                    <option *ngFor="let loc of locations" [ngValue]="loc.id">{{loc.description}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label">Category</label>
                <select class="form-control" [(ngModel)]="incident.incidentCategoryId">
                    <option *ngFor="let cat of categories" [ngValue]="cat.id">{{cat.description}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label">Type</label>
                <select class="form-control" [(ngModel)]="incident.incidentTypeId">
                    <option *ngFor="let type of types" [ngValue]="type.id">{{type.desc}}</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-12">
                <label class="form-label">What happened before, during and after the incident?</label>
                <textarea class="form-control" [(ngModel)]="incident.incidentDetails" rows="5"></textarea>
            </div>
        </div>
    </div>
</div>