<form #thisForm='ngForm'>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="section-heading">
                        <strong>
                            <span class="glyphicon glyphicon-user"></span>
                            <span>User Administration</span>
                        </strong>
                    </h4>
                </div>
                <div class="col-md-6">
                    <div class="admin-buttons pull-right">
                        <button class="btn btn-primary" [disabled]="isDirty(thisForm) || !allUsers" (click)="addUser()"><i class="fa fa-user-plus"></i>Add User</button>
                        <button class="btn btn-primary" [disabled]="!isDirty(thisForm)" (click)="undoChanges(thisForm)"><i class="fa fa-undo"></i>Undo</button>
                        <button class="btn btn-primary" [disabled]="!isDirty(thisForm)" (click)="saveChanges(thisForm)"><i class="fa fa-save"></i>Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div *ngIf="!allUsers" class="alert alert-info">
                <i class="fa fa-cog fa-spin fa-2x"></i>
                <span class="loading">Please wait, retrieving your data...</span>
            </div>
            <table *ngIf="allUsers" class="table table-responsive table-striped">
                <thead>
                    <tr class="row">
                        <th class="col-md-5">Username</th>
                        <th class="col-md-1">Active</th>
                        <th class="col-md-1">Payroll</th>
                        <th class="col-md-1">Assessments</th>
                        <th class="col-md-1">Admin</th>
                        <th class="col-md-1">Accident</th>
                        <th class="col-md-1">Reporting</th>
                        <th class="col-md-1">Integration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row" *ngFor="let user of allUsers">
                        <td (click)="selectUser(user)">{{user.accountName}}</td>
                        <td><p-checkbox [(ngModel)]="user.isActive" binary="true" [name]="'isActive_' + user.id"></p-checkbox></td>
                        <td><p-checkbox [(ngModel)]="user.isPayrollUser" binary="true" [name]="'isPayrollUser_' + user.id"></p-checkbox></td>
                        <td><p-checkbox [(ngModel)]="user.isAssessmentUser" binary="true" [name]="'isAssessmentUser_' + user.id"></p-checkbox></td>
                        <td><p-checkbox [(ngModel)]="user.isAdmin" binary="true" [name]="'isAdmin_' + user.id"></p-checkbox></td>
                        <td><p-checkbox [(ngModel)]="user.isAccidentUser" binary="true" [name]="'isAccidentUser_' + user.id"></p-checkbox></td>
                        <td><p-checkbox [(ngModel)]="user.isReportingUser" binary="true" [name]="'isReportingUser_' + user.id"></p-checkbox></td>
                        <td><p-checkbox [(ngModel)]="user.isIntegrationUser" binary="true" [name]="'isIntegrationUser_' + user.id"></p-checkbox></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>