@{
    ViewData["Title"] = "Blackwood Access";
}

<body>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h1><strong>An error has occurred</strong></h1>
        </div>
        <div class="panel-body">
            <h2>I don't know why</h2>
        </div>
    </div>
</body>
