<tabset>
    <tab>
        <ng-template tabHeading>
            <span class="glyphicon glyphicon-align-justify"></span>
            <span>Summary</span>
        </ng-template>
        <team-summary></team-summary>
    </tab>
    <tab>
        <ng-template tabHeading>
            <span class="glyphicon glyphicon-eye-open"></span>
            <span>Review</span>
        </ng-template>
        <payroll-review></payroll-review>
    </tab>
    <tab>
        <ng-template tabHeading>
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span>Approval</span>
        </ng-template>
        <payroll-approval></payroll-approval>
    </tab>
</tabset>