<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['link-active']">
                    <a class='navbar-brand' [routerLink]="['', {outlets: {summary:null, detail:null, primary: 'home'}}]">Blackwood Access</a>
                </li>
            </ul>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li *ngIf="user && user.isPayrollUser" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['', {outlets: {summary:null, detail:null, primary:'payroll'}}]">
                        <span class="glyphicon glyphicon-calendar"></span>Payroll
                    </a>
                </li>
                <li *ngIf="user" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['', { outlets: {summary:null, detail:null, primary: 'initial-assess-manager'}}]">
                        <span class="glyphicon glyphicon-list-alt"></span>Care Initial Assessments
                    </a>
                </li>
                <li *ngIf="user && user.isAdmin" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['', { outlets: {summary:null, detail:null, primary: 'admin'}}]">
                        <span class="glyphicon glyphicon-user"></span>Administration
                    </a>
                </li>
                <!-- Nested Admin menus, to be gated on route and indented -->
                <li *ngIf="user && user.isAdmin" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['', { outlets: {summary:null, detail:null, primary: 'admin/user'}}]" class="sub-menu">User Admin</a>
                </li>
                <li *ngIf="user && user.isAdmin" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['', { outlets: {summary:null, detail:null, primary: 'admin/payroll'}}]" class="sub-menu">Payroll Admin</a>
                </li>
                <!-- End of -->
                <li *ngIf="user && user.accountName == 'AlexC'" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['', { outlets: {summary:null, detail:null, primary: 'accident'}}]">
                        <span class="glyphicon glyphicon-plus-sign"></span>Accidents &amp; Incidents
                    </a>
                </li>
                <li *ngIf="user && user.isReportingUser" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['', { outlets: { summary:null, detail:null, primary: 'reports'}}]">
                        <span class="glyphicon glyphicon-book"></span>Reporting
                    </a>
                </li>
                <!-- Nested Reporting menus, to be gated on route and indented -->
                <li *ngIf="user && user.isReportingUser" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['', { outlets: { summary:null, detail:null, primary: 'reports/home'}}]">Reports</a>
                </li>
                <li *ngIf="user && user.isReportingUser" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['', { outlets: { summary:null, detail:null, primary: 'reports/scheduled'}}]">Schedules</a>
                </li>
                <!-- End of -->
            </ul>
            <div *ngIf="showCalendar" class="calendar-div" align="center">
                <p-calendar class="datepicker" [inline]="true" [locale]="loc" (onSelect)="dateSelected($event)" [(ngModel)]="selectedDate"
                    [showOtherMonths]="true" [selectOtherMonths]="true">
                </p-calendar>
            </div>
        </div>
    </div>
</div>