<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Care Initial Assessment</h4>
    </div>
    <div class="panel-body">
        <div class="form-group form-inline">
            <label for="visitDate" class="col-md-2">Date of Visit</label>
            <input class="form-control col-md-3" value="{{assess.visitDate}}" id="visitDate" type="date" readonly/>
            <label for="visitBy" class="col-md-2">Visit By</label>
            <input class="form-control col-md-3" value="{{assess.visitBy}}" id="visitBy" readonly/>
        </div>
        <div class="form-group form-inline">
            <label for="name" class="col-md-2">Name of Client</label>
            <input class="form-control col-md-3" value="{{assess.name}}" id="name" readonly/>
        </div>
    </div>
</div>