<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="pull-left">Care Initial Assessment</h4>
        <div class="btn-group pull-right">
            <button class="btn btn-default" [ngClass]="{'selected': section=='assessment'}" (click)="selectSection('assessment')">Assessment</button>
            <button class="btn btn-default" [ngClass]="{'selected': section=='checklist'}" (click)="selectSection('checklist')">Checklist</button>
            <button class="btn btn-default" [ngClass]="{'selected': section=='handling'}" (click)="selectSection('handling')">Handling</button>
            <button class="btn btn-default" [ngClass]="{'selected': section=='tile'}" (click)="selectSection('tile')">T.I.L.E</button>
        </div>
    </div>
    <!-- TODO panel-body height is a bit of a fudge -->
    <div class="panel-body" style="height:87vh;overflow-y:scroll;">
        <form class="form-horizontal">
            <div *ngIf="section=='assessment'" class="panel-section" id="assessment">
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="visitDate" class="col-form-label">Date of Visit</label>
                        <input class="form-control" [value]="assess.visitDate | date:'dd/MM/yyyy'" id="visitDate" readonly/>
                    </div>
                    <div class="col-md-6">
                        <label for="visitBy" class="col-form-label">Visit By</label>
                        <input class="form-control" [value]="assess.visitBy" id="visitBy" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="name" class="col-form-label">Name of Client</label>
                        <input class="form-control" [value]="assess.name" id="name" readonly/>
                    </div>
                    <div class="col-md-6">
                        <label for="prefName" class="col-form-label">Preferred Name</label>
                        <input class="form-control" [value]="assess.prefName" id="prefName" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="address1">Address</label>
                        <textarea class="form-control" [value]="assess.address1" id="address1" rows="5" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="telephoneNumber">Telephone Number</label>
                        <input class="form-control" [value]="assess.telephoneNumber" id="telephoneNumber" readonly/>
                        <label for="dateOfBirth" class="nudge-down">Date of Birth</label>
                        <input class="form-control" [value]="assess.dateOfBirth | date:'dd/MM/yyyy'" id="dateOfBirth" readonly/>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="visitType">Type of Visit</label>
                        <select class="form-control" [value]="assess.visitType" id="visitType" disabled>
                        <option value="0">Personal Care</option>
                        <option value="1">Non-Personal Care</option>
                        <option value="2">Housing Support</option>
                        <option value="3">Mixed Care &amp; Housing Support</option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="whatRequired">What assistance is required</label>
                        <textarea class="form-control" [value]="assess.whatRequired" id="whatRequired" rows="3" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="whenRequired">When assistance is required</label>
                        <textarea class="form-control" [value]="assess.whenRequired" id="whenRequired" rows="3" readonly></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="staffRequirements">Staffing &amp; Training Requirements</label>
                        <textarea class="form-control" [value]="assess.staffRequirements" id="staffRequirements" rows="3" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="generalHealth">General Health &amp; Physical Wellbeing</label>
                        <textarea class="form-control" [value]="assess.generalHealth" id="generalHealth" rows="3" readonly></textarea>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="medication">Medication</label>
                        <textarea class="form-control" [value]="assess.medication" id="medication" rows="3" readonly></textarea>
                        <label for="medicationCapacity" class="nudge-down">Capacity</label>
                        <select class="form-control" [value]="assess.medicationCapacity" id="medicationCapacity" disabled>
                        <option value="0">Has Capacity</option>
                        <option value="1">Does not have Capacity</option>
                        <option value="2">Referred for GP Assessment</option>
                    </select>
                    </div>
                    <div class="col-md-6" style="padding:0%;">
                        <div class="col-md-4">
                            <input type="checkbox" [checked]="assess.medicMorningVisit" id="medicMorningVisit" disabled/>
                            <label for="medicMorningVisit" class="check-label">Morning</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" [checked]="assess.medicLunchVisit" id="medicLunchVisit" disabled/>
                            <label for="medicLunchVisit" class="check-label">Lunchtime</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" [checked]="assess.medicTeatimeVisit" id="medicTeamtimeVisit" disabled/>
                            <label for="medicTeamtimeVisit" class="check-label">Teatime</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" [checked]="assess.medicBedtimeVisit" id="medicBedtimeVisit" disabled/>
                            <label for="medicBedtimeVisit" class="check-label">Bedtime</label>
                        </div>
                        <div class="col-md-4">
                            <input type="checkbox" [checked]="assess.medicOtherVisit" id="medicOtherVisit" disabled/>
                            <label for="medicOtherVisit" class="check-label">Other Time</label>
                        </div>
                        <div class="col-md-12">
                            <label for="medicOtherVisitDetails" style="margin-top:8px;">Other Visit Time</label>
                            <textarea class="form-control" [value]="assess.medicOtherVisitDetails" id="medicOtherVisitDetails" rows="3" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="medicOralGrading">Oral Grading</label>
                        <select class="form-control" [value]="assess.medicOralGrading" id="medicOralGrading" disabled>
                        <option value="0">Independent</option>
                        <option value="1">Prompt &amp; Assist</option>
                        <option value="2">Administer with capacity</option>
                        <option value="3">Administer without capacity</option>
                    </select>
                        <label for="whoOrdersMedication" class="nudge-down">Medication ordered by</label>
                        <select class="form-control" [value]="assess.whoOrdersMedication" id="whoOrdersMedication" disabled>
                        <option value="0">Blackwood</option>
                        <option value="1">Family</option>
                    </select>
                    </div>
                    <div class="col-md-6">
                        <label for="medicNonOralGrading">Non Oral Grading</label>
                        <select class="form-control" [value]="assess.medicNonOralGrading" id="medicNonOralGrading" disabled>
                        <option value="0">Independent</option>
                        <option value="1">Prompt &amp; Assist</option>
                        <option value="2">Administer with capacity</option>
                        <option value="3">Administer without capacity</option>
                    </select>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="familycarer">Carer or Family Involvement</label>
                        <textarea class="form-control" [value]="assess.familyCarer" id="familyCarer" rows="3" readonly></textarea>
                        <label for="eyeSight" class="nudge-down">Sight</label>
                        <select class="form-control" [value]="assess.eyeSight" id="eyeSight" disabled>
                        <option value="0">Full Sight - No Glasses</option>
                        <option value="1">Full Sight - Glasses</option>
                        <option value="2">Partially Sighted</option>
                        <option value="3">Blind</option>
                    </select>
                    </div>
                    <div class="col-md-6">
                        <label for="communicationAbility">Communication Ability</label>
                        <textarea class="form-control" [value]="assess.communicationAbility" id="communicationAbility" rows="3" readonly></textarea>
                        <label for="hearing" class="nudge-down">Wears a Hearing Aid?</label>
                        <input class="form-control" type="text" [value]="assess.hearing" id="hearing" readonly/>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <p style="margin-left:20px;">Communications Preferences</p>
                    <div *ngFor="let comm of assess.comms" style="float:left;margin-left:24px;">
                        <input type="checkbox" disabled [checked]="comm.preferred">
                        <label class="check-label">{{comm.title}}</label>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="continence">Continence</label>
                        <select class="form-control" [value]="assess.continence" id="continence" disabled>
                            <option value="0">Full Continent</option>
                            <option value="1">Periodic Incontinence</option>
                            <option value="2">Full Incontinence</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="continenceDetails">Continence Details</label>
                        <textarea class="form-control" [value]="assess.continenceDetails" id="continenceDetails" rows="3" readonly></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="slider-boxed">
                            <div>
                                <label for="dexterity">Manual Dexterity</label><span class="label label-pill">{{assess.dexterity}}</span>
                            </div>
                            <div class="slider-inner">
                                <p-slider name="dexterity" [ngModel]="assess.dexterity" [min]="1" [max]="5" [step]="1" [disabled]="true"></p-slider>
                            </div>
                            <div class="nudge-down slider-legend">
                                <span class="pull-left">(Poor) 1</span>
                                <span class="pull-right">5 (Great)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="adaptations">Disability Equipment Needs</label>
                        <textarea class="form-control" [value]="assess.adaptations" id="adaptations" rows="3" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="mentalHealth">Mental Health</label>
                        <textarea class="form-control" [value]="assess.mentalHealth" id="mentalHealth" rows="3" readonly></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="dietaryRequirements">Dietary Requirements</label>
                        <textarea class="form-control" [value]="assess.dietaryRequirements" id="dietaryRequirements" rows="3" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="foodDrinkPreferences">Food &amp; Drink Preferences</label>
                        <textarea class="form-control" [value]="assess.foodDrinkPreferences" id="foodDrinkPreferences" rows="3" readonly></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="socialInterests">Social Interests</label>
                        <textarea class="form-control" [value]="assess.socialInterests" id="socialInterests" rows="3" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="religionCulture">Religion &amp; Culture</label>
                        <textarea class="form-control" [value]="assess.religionCulture" id="religionCultire" rows="3" readonly></textarea>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="happyVary">Happy to vary dates/times?</label>
                        <select class="form-control" [value]="assess.happyVary" id="happyVary" disabled>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                        <label for="timeChange" class="nudge-down">Details of time changes</label>
                        <textarea class="form-control" [value]="assess.timeChange" rows="3" id="timeChange" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="genderPref">Client has gender preference?</label>
                        <select class="form-control" [value]="assess.genderPref" id="genderPref" disabled>
                        <option value="0">No preference</option>
                        <option value="1">Female preferred</option>
                        <option value="2">Male preferred</option>
                        <option value="3">Depends on Task</option>
                    </select>
                        <label for="genderDetails" class="nudge-down">Gender preference details</label>
                        <textarea class="form-control" [value]="assess.genderDetails" id="genderDetails" rows="3" readonly></textarea>
                        <label for="altGender" class="nudge-down">Will accept alternative?</label>
                        <select class="form-control" [value]="assess.altGender" id="altGender" disabled>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="accessArrangements">Access Arrangements</label>
                        <textarea class="form-control" [value]="assess.accessArrangements" id="accessArrangements" rows="3" readonly></textarea>
                        <label for="doorEntry" class="nudge-down">Door Entry</label>
                        <select class="form-control" [value]="assess.doorEntry" id="doorEntry" disabled>
                        <option value="0">Buzzer</option>
                        <option value="1">Key Code</option>
                        <option value="2">None</option>
                    </select>
                        <label for="keyCode" class="nudge-down">Key Code</label>
                        <input type="text" class="form-control" [value]="assess.keyCode" id="keyCode" readonly/>
                    </div>
                    <div class="col-md-6">
                        <label for="disability">Disability &amp; Conditions</label>
                        <textarea class="form-control" [value]="assess.disability" id="disability" rows="3" readonly></textarea>
                        <label for="allergies" class="nudge-down">Suffers from any Allergies?</label>
                        <textarea class="form-control" [value]="assess.allergies" id="allergies" rows="3" readonly></textarea>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="gpDetails">General Practitioner</label>
                        <textarea class="form-control" [value]="assess.gpDetails" id="gpDetails" rows="3" readonly></textarea>
                        <label for="nextOfKin" class="nudge-down">Next-of-Kin &amp; Emergencies</label>
                        <textarea class="form-control" [value]="assess.nextOfKin" id="nextOfKin" rows="3" readonly></textarea>
                        <label for="goals" class="nudge-down">Goals</label>
                        <textarea class="form-control" [value]="assess.goals" id="goals" rows="3" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="otherProvider">Other Healthcare Provider</label>
                        <textarea class="form-control" [value]="assess.otherProvider" id="otherProvider" rows="3" readonly></textarea>
                        <label for="specificRisks" class="nudge-down">Specific Risks</label>
                        <textarea class="form-control" [value]="assess.specificRisks" id="specificRisks" rows="3" readonly></textarea>
                        <label for="additionalInfo" class="nudge-down">Any other additional info</label>
                        <textarea class="form-control" [value]="assess.additionalInfo" id="additionalInfo" rows="3" readonly></textarea>
                    </div>
                </div>
            </div>

            <div *ngIf="section=='checklist'" class="panel-section" id="checklist">
                <table class="table table-striped table-fixedheader">
                    <thead class="thead-inverse">
                        <th class="col-md-8">Home Visit Checklist Item</th>
                        <th class="col-md-1 checklist-cell">Yes</th>
                        <th class="col-md-1 checklist-cell">No</th>
                        <th class="col-md-1 checklist-cell" title="Not Applicable">N/A</th>
                        <th class="col-md-1 checklist-cell" title="Further Information Required">F/I</th>
                    </thead>
                    <tbody>
                        <template let-check ngFor [ngForOf]="assess.checkItems">
                            <tr class="table-row">
                                <td class="col-md-8"><span>{{check.itemName}}</span></td>
                                <td class="col-md-1 checklist-cell"><input name="check-{{check.itemId}}" type="radio" [ngModel]="check.value" value="yes" disabled
                                    /></td>
                                <td class="col-md-1 checklist-cell"><input name="check-{{check.itemId}}" type="radio" [ngModel]="check.value" value="no" disabled/></td>
                                <td class="col-md-1 checklist-cell"><input name="check-{{check.itemId}}" type="radio" [ngModel]="check.value" value="n/a" disabled/></td>
                                <td class="col-md-1 checklist-cell"><input name="check-{{check.itemId}}" type="radio" [ngModel]="check.value" value="f/i" disabled/></td>
                            </tr>
                            <tr class="table-row" *ngIf="check.value && check.value==check.furtherValue">
                                <td colspan="5">
                                    <span>{{check.furtherTitle}}</span><br/>
                                    <textarea class="form-control nudge-down" [value]="check.further" rows="3" readonly></textarea>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <hr/>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="otherHazards">Other hazards observed</label>
                        <textarea class="form-control" [value]="assess.otherHazards" id="otherHazards" rows="3" readonly></textarea>
                        <label class="nudge-down" for="fullAssessReqd">Detailed Risk Assessment required?</label>
                        <select class="form-control" [value]="assess.fullAssessReqd" id="fullAssessReqd" disabled>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="furtherAction">Comments &amp; further action to be taken</label>
                        <textarea class="form-control" [value]="assess.furtherAction" id="furtherAction" rows="3" readonly></textarea>
                    </div>
                </div>
            </div>

            <div *ngIf="section=='handling'" class="panel-section" id="handling">

                <div class="form-group">
                    <div class="col-md-6">
                        <label for="aboutPerson">About the person</label>
                        <textarea class="form-control" [value]="assess.aboutPerson" id="aboutPerson" rows="3" readonly></textarea>
                        <label for="riskFalls" class="nudge-down">Risk of Falls</label>
                        <select class="form-control" [value]="assess.riskFalls" id="riskFalls" disabled>
                            <option value="1">High</option>
                            <option value="2">Low</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="bodyBuildWeight">Body Build - Weight</label>
                        <select class="form-control" [value]="assess.bodyBuildWeight" id="bodyBuildWeight" disabled>
                            <option value="1">Obese</option>
                            <option value="2">Above Average</option>
                            <option value="3">Average</option>
                            <option value="4">Below Average</option>
                        </select>
                        <label for="bodyBuildHeight" class="nudge-down">Body Build - Height</label>
                        <select class="form-control" [value]="assess.bodyBuildHeight" id="bodyBuildHeight" disabled>
                            <option value="1">Tall</option>
                            <option value="2">Medium</option>
                            <option value="3">Short</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <label for="problems" style="text-align:left;">Problems with comprehension, behaviours, co-operation, etc.</label>
                        <textarea class="form-control" [value]="assess.problems" id="problems" rows="3" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="constraints">Handling Constraints e.g. disability, weakness, etc.</label>
                        <textarea class="form-control" [value]="assess.constraints" id="constraints" rows="3" readonly></textarea>
                    </div>
                </div>
                <hr/>

                <h4>Transfers <small>Including to/from bed, wheelchair, commode, toilet, etc.</small></h4>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="transferSpec">Specify</label>
                        <select class="form-control" [value]="assess.transferSpec" id="transferSpec" disabled>
                            <option value="1">Hoist or Standaid</option>
                            <option value="2">Assistance</option>
                            <option value="3">Supervision</option>
                            <option value="4">Independent</option>
                        </select>
                        <label class="nudge-down" for="transferAdditional">Additional Information</label>
                        <textarea class="form-control" [value]="assess.transferAdditional" name="transferAdditional" rows="3" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="transferWalkingAid">Walking Aid - Specify</label>
                        <input class="form-control" [value]="assess.transferWalkingAid" id="transferWalkingAid" readonly/>
                        <div class="slider-boxed slider-nudge">
                            <div>
                                <label for="transferPeople">People</label><span class="label label-pill">{{assess.transferPeople}}</span>
                            </div>
                            <div class="slider-inner">
                                <p-slider name="transferPeople" [ngModel]="assess.transferPeople" [min]="0" [max]="3" [step]="1" [disabled]="true"></p-slider>
                            </div>
                            <div class="nudge-down slider-legend">
                                <span class="pull-left">0</span>
                                <span class="pull-right">3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>

                <h4>Toileting</h4>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="toiletSpec">Specify</label>
                        <select class="form-control" [value]="assess.toiletSpec" id="toiletSpec" disabled>
                            <option value="1">Hoist or Standaid</option>
                            <option value="2">Assistance</option>
                            <option value="3">Supervision</option>
                            <option value="4">Independent</option>
                        </select>
                        <label class="nudge-down" for="toiletAdditional">Additional Information</label>
                        <textarea class="form-control" [value]="assess.toiletAdditional" name="toiletAdditional" rows="3" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="toiletWalkingAid">Walking Aid - Specify</label>
                        <input class="form-control" [value]="assess.toiletWalkingAid" id="toiletWalkingAid" readonly/>
                        <div class="slider-boxed slider-nudge">
                            <div>
                                <label for="toiletPeople">People</label><span class="label label-pill">{{assess.toiletPeople}}</span>
                            </div>
                            <div class="slider-inner">
                                <p-slider name="toiletPeople" [ngModel]="assess.toiletPeople" [min]="0" [max]="3" [step]="1" [disabled]="true"></p-slider>
                            </div>
                            <div class="nudge-down slider-legend">
                                <span class="pull-left">0</span>
                                <span class="pull-right">3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>

                <h4>Move On/Off Bedpan</h4>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="bedpanSpec">Specify</label>
                        <select class="form-control" [value]="assess.bedpanSpec" id="bedpanSpec" disabled>
                            <option value="1">Hoist</option>
                            <option value="2">Manoeuver</option>
                            <option value="3">Assistance</option>
                            <option value="4">Supervision</option>
                            <option value="5">N/A</option>
                        </select>
                        <label class="nudge-down" for="bedpanAdditional">Additional Information</label>
                        <textarea class="form-control" [value]="assess.bedpanAdditional" name="bedpanAdditional" rows="3" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="bedpanManeuver">Specify Maneuver</label>
                        <select class="form-control" [value]="assess.bedpanManeuver" id="bedpanManeuver" disabled>
                            <option value="1">Roll Customer</option>
                            <option value="2">Monkey Pole</option>
                            <option value="3">Customer Bridges</option>
                        </select>
                        <div class="slider-boxed slider-nudge">
                            <div>
                                <label for="bedpanPeople">People</label><span class="label label-pill">{{assess.bedpanPeople}}</span>
                            </div>
                            <div class="slider-inner">
                                <p-slider name="bedpanPeople" [ngModel]="assess.bedpanPeople" [min]="0" [max]="3" [step]="1" [disabled]="true"></p-slider>
                            </div>
                            <div class="nudge-down slider-legend">
                                <span class="pull-left">0</span>
                                <span class="pull-right">3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>

                <h4>Move Up/Down Bed</h4>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="bedMoveSpec">Specify</label>
                        <select class="form-control" [value]="assess.bedMoveSpec" id="bedMoveSpec" disabled>
                            <option value="1">Hoist</option>
                            <option value="2">Handling Aids</option>
                            <option value="3">Assistance</option>
                            <option value="4">Supervision</option>
                            <option value="5">Independent</option>
                        </select>
                        <label class="nudge-down" for="bedMoveAdditional">Additional Information</label>
                        <textarea class="form-control" [value]="assess.bedMoveAdditional" name="bedMoveAdditional" rows="3" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="bedMoveHandlingAid">Specify Handling Aids</label>
                        <select class="form-control" [value]="assess.bedMoveHandlingAid" id="bedMoveHandlingAid" disabled>
                            <option value="1">Sliding Street</option>
                            <option value="2">Monkey Pole</option>
                            <option value="3">Rope Ladder</option>
                        </select>
                        <div class="slider-boxed slider-nudge">
                            <div>
                                <label for="bedMovePeople">People</label><span class="label label-pill">{{assess.bedMovePeople}}</span>
                            </div>
                            <div class="slider-inner">
                                <p-slider name="bedMovePeople" [ngModel]="assess.bedMovePeople" [min]="0" [max]="3" [step]="1" [disabled]="true"></p-slider>
                            </div>
                            <div class="nudge-down slider-legend">
                                <span class="pull-left">0</span>
                                <span class="pull-right">3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>

                <h4>Transfer To/From Bed</h4>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="bedTransferSpec">Specify</label>
                        <select class="form-control" [value]="assess.bedTransferSpec" id="bedTransferSpec" disabled>
                            <option value="1">Hoist</option>
                            <option value="2">Handling Aids</option>
                            <option value="3">Assistance</option>
                            <option value="4">Supervision</option>
                            <option value="5">Independent</option>
                        </select>
                        <label class="nudge-down" for="bedTransferAdditional">Additional Information</label>
                        <textarea class="form-control" [value]="assess.bedTransferAdditional" name="bedTransferAdditional" rows="3" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="bedTransferHandlingAid">Specify Handling Aids</label>
                        <select class="form-control" [value]="assess.bedTransferHandlingAid" id="bedTransferHandlingAid" disabled>
                            <option value="1">Patslide</option>
                            <option value="2">Roll Board</option>
                            <option value="3">Fabric Sliding Aid</option>
                        </select>
                        <div class="slider-boxed slider-nudge">
                            <div>
                                <label for="bedTransferPeople">People</label><span class="label label-pill">{{assess.bedTransferPeople}}</span>
                            </div>
                            <div class="slider-inner">
                                <p-slider name="bedTransferPeople" [ngModel]="assess.bedTransferPeople" [min]="0" [max]="3" [step]="1" [disabled]="true"></p-slider>
                            </div>
                            <div class="nudge-down slider-legend">
                                <span class="pull-left">0</span>
                                <span class="pull-right">3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>

                <h4>Sit Up Over Side of Bed</h4>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="bedsideSpec">Specify</label>
                        <select class="form-control" [value]="assess.bedsideSpec" id="bedsideSpec" disabled>
                            <option value="1">Bed Rest</option>
                            <option value="2">Assistant</option>
                            <option value="3">Supervision</option>
                            <option value="4">Independent</option>
                        </select>
                        <label class="nudge-down" for="bedsideAdditional">Additional Information</label>
                        <textarea class="form-control" [value]="assess.bedsideAdditional" name="bedsideAdditional" rows="3" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <div class="slider-boxed" style="margin-top:24px;">
                            <div>
                                <label for="bedsidePeople">People</label><span class="label label-pill">{{assess.bedsidePeople}}</span>
                            </div>
                            <div class="slider-inner">
                                <p-slider name="bedsidePeople" [ngModel]="assess.bedsidePeople" [min]="0" [max]="3" [step]="1" [disabled]="true"></p-slider>
                            </div>
                            <div class="nudge-down slider-legend">
                                <span class="pull-left">0</span>
                                <span class="pull-right">3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>

                <h4>Into Bath or Shower</h4>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="bathShowerWhich">Which Bath or Shower</label>
                        <select class="form-control" [value]="assess.bathShowerWhich" id="bathShowerWhich" disabled>
                            <option value="1">Shower</option>
                            <option value="2">Variable Height Bath</option>
                            <option value="3">Bed Bath</option>
                        </select>
                        <label for="bathShowerSpec" class="nudge-down">Which Bath or Shower</label>
                        <select class="form-control" [value]="assess.bathShowerSpec" id="bathShowerSpec" disabled>
                            <option value="1">Assistance</option>
                            <option value="2">Supervision</option>
                            <option value="3">Independent</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="bathShowerHandlingAid">Which Bath or Shower</label>
                        <select class="form-control" [value]="assess.bathShowerHandlingAid" id="bathShowerHandlingAid" disabled>
                            <option value="1">Hoist</option>
                            <option value="2">Ambulift</option>
                            <option value="3">Shower Chair</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="bathShowerAdditional">Additional Information</label>
                        <textarea class="form-control" [value]="assess.bathShowerAdditional" name="bathShowerAdditional" rows="3" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <div class="slider-boxed" style="margin-top:24px;">
                            <div>
                                <label for="bathShowerPeople">People</label><span class="label label-pill">{{assess.bathShowerPeople}}</span>
                            </div>
                            <div class="slider-inner">
                                <p-slider name="bathShowerPeople" [ngModel]="assess.bathShowerPeople" [min]="0" [max]="3" [step]="1" [disabled]="true"></p-slider>
                            </div>
                            <div class="nudge-down slider-legend">
                                <span class="pull-left">0</span>
                                <span class="pull-right">3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>

                <h4>Walking</h4>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="walkingSpec">Specify</label>
                        <select class="form-control" [value]="assess.walkingSpec" name="waklingSpec" disabled>
                            <option value="1">No Walking</option>
                            <option value="2">Walking Aid</option>
                            <option value="3">Assistance</option>
                            <option value="4">Supervision</option>
                            <option value="5">Independent</option>
                        </select>
                        <label for="walkingAdditional" class="nudge-down">Additional Information</label>
                        <textarea class="form-control" [value]="assess.walkingAdditional" name="walkingAdditional" rows="3" readonly></textarea>
                    </div>
                    <div class="col-md-6">
                        <div *ngIf="assess.walkingSpec=='2'">
                            <label for="walkingWalkingAid">Specify Walking Aid</label>
                            <textarea class="form-control" [value]="assess.walkingWalkingAid" name="walkingWalkingAid" rows="3" readonly></textarea>
                        </div>
                        <div *ngIf="assess.walkingSpec=='3'" class="slider-boxed" style="margin-top:24px;">
                            <div>
                                <label for="walkingPeople">People</label><span class="label label-pill">{{assess.walkingPeople}}</span>
                            </div>
                            <div class="slider-inner">
                                <p-slider name="walkingPeople" [ngModel]="assess.walkingPeople" [min]="0" [max]="3" [step]="1" [disabled]="true"></p-slider>
                            </div>
                            <div class="nudge-down slider-legend">
                                <span class="pull-left">0</span>
                                <span class="pull-right">3</span>
                            </div>
                        </div>

                    </div>
                </div>
                <hr/>

                <div class="form-group">
                    <div class="col-md-6">
                        <label for="otherInstructions">Other Instructions</label>
                        <textarea class="form-control" [value]="assess.otherInstructions" name="otherInstructions" rows="3" readonly></textarea>
                    </div>
                </div>
            </div>

            <div *ngIf="section=='tile'" class="panel-section" id="tile">
                <template let-group ngFor [ngForOf]="assess.tileGroups">
                    <h4>{{group.title}}</h4>
                    <p style="background-color:silver;">{{group.desc}}</p>
                    <table class="table table-striped">
                        <tbody>
                            <template let-item ngFor [ngForOf]="group.items">
                                <tr class="table-row">
                                    <td class="col-md-8">{{item.task}}</td>
                                    <td class="col-md-2">
                                        <label [attr.for]="'tile-item-yes-' + item.groupId + '-' + item.itemId">Yes</label>
                                        <input type="radio" [name]="'tile-item-yes-' + item.groupId + '-' + item.itemId" [ngModel]="item.hazard" [value]="true" disabled/>
                                    </td>
                                    <td class="col-md-2">
                                        <label [attr.for]="'tile-item-no-' + item.groupId + '-' + item.itemId">No</label>
                                        <input type="radio" [name]="'tile-item-no-' + item.groupId + '-' + item.itemId" [ngModel]="item.hazard" [value]="false" disabled/>
                                    </td>
                                </tr>
                                <tr class="table-row" *ngIf="item.hazard">
                                    <td colspan="3">
                                        <label>Possible remedial action</label>
                                        <textarea class="form-control" [value]="item.remedialAction" [name]="'tile-item-remedial-' + item.groupId + '-' + item.itemId" rows="3" readonly></textarea>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </template>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="overallRisk" style="text-align:left;">After considering the totality and complexity of the overall Moving &amp; Handling operation, what is your overall assessment of the risk?</label>
                        <select class="form-control" name="overallRisk" [value]="assess.overallRisk" disabled>
                            <option value="1">Low</option>
                            <option value="2">Moderate</option>
                            <option value="3">High</option>
                        </select>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>