<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Timesheet Management</h4>
    </div>
    <div class="panel-body">
        <div class="form-group form-inline">
            <label for="carerSelect">Select Carer</label>
            <select class="form-control" id="carerSelect" [(ngModel)]="selectedCarer" name="selectedCarer" required>
                <option *ngFor="let carer of carers" [ngValue]="carer">{{carer.forename}} {{carer.surname}}</option>
            </select>
            <label for="weekCommencing">Week Commencing</label>
            <input class="form-control datepicker" id="weekCommencing" type="date" [(ngModel)]="weekCommencing"/>
            <a class="btn btn-default btn-primary" (click)="showTimesheet()">Show Timesheet</a>
        </div>
    </div>
</div>