<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <h4 class="col-md-6 section-heading">
                <span class="glyphicon glyphicon-transfer"></span>
                <span class="glyphicon glyphicon-user"></span>
                <span class="glyphicon glyphicon-globe"></span>
                <strong>User Integration Mapping</strong>
            </h4>
        </div>
    </div>

    <div class="panel-body">
        <div *ngIf="!user" class="alert alert-info" style="margin-top: 16px;">
            <i class="fa fa-cog fa-spin fa-2x"></i>
            <span class="loading">Please wait, retrieving your data...</span>
        </div>

        <div *ngIf="user" class="col-md-6 col-left">
            <div class="well">
                <form [formGroup]="form" class="form-inline">
                    <div class="form-group">
                        <label class="form-label">Name</label>
                        <input class="form-control pull-right" formControlName="name" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Date of Birth</label>
                        <input class="form-control pull-right" formControlName="dateOfBirth" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Role</label>
                        <input class="form-control pull-right" formControlName="role" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Integration</label>
                        <input class="form-control pull-right" formControlName="integrationId" />
                    </div>
                    <button class="btn btn-primary pull-right" [disabled]="user.id" (click)="mapUser(user)">Map User</button>
                    <hr />
                    <div class="form-group">
                        <label class="form-label">StaffPlan</label>
                        <input class="form-control pull-right" formControlName="staffPlanId" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">CareSys</label>
                        <input class="form-control pull-right" formControlName="careSysId" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">UH</label>
                        <input class="form-control pull-right" formControlName="uhId" />
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="form-label">CleverCogs</label>
                        <input class="form-control pull-right" formControlName="cleverCogsId" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Enabled</label>
                        <input class="form-control pull-right" formControlName="cleverCogsEnabled" />
                    </div>
                    <button class="btn btn-primary pull-right" [disabled]="!user.id">{{enableMsg()}} User</button>
                    <hr />
                    <div class="form-group">
                        <label class="form-label">Dynamics</label>
                        <input class="form-control pull-right" formControlName="dynamicsId" />
                    </div>
                </form>
            </div>
        </div>

        <!-- <div  *ngIf="user"class="col-md-6 col-right">
            <div class="well">
                <form [formGroup]="form" class="form-inline">
                    <div class="form-group">
                        <label class="form-label">First Name</label>
                        <input class="form-control pull-right" formControlName="firstName" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Middle Name</label>
                        <input class="form-control pull-right" formControlName="middleName" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Last Name</label>
                        <input class="form-control pull-right" formControlName="lastName" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Gender</label>
                        <input class="form-control pull-right" formControlName="gender" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Address</label>
                        <input class="form-control pull-right" formControlName="address" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Postcode</label>
                        <input class="form-control pull-right" formControlName="postcode" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">City</label>
                        <input class="form-control pull-right" formControlName="city" />
                    </div>
                </form>
            </div>
        </div> -->

    </div>
</div>

<p-confirmDialog icon="fa fa-question-circle" width="480"></p-confirmDialog>

<p-growl [life]="5000"></p-growl>
