h4, label, select, td, th, input, p {
    font-family: 'Century Gothic';
    font-weight: normal;
}

.panel {
    border: 1px solid;
    border-color: slategray;
    background-color: rgba(255,255,255,0.5);
    margin-top: 24px;
}

.panel .panel-heading {
    border-bottom: 1px solid silver;
    border-color: slategray;
    background-color: rgba(191, 215, 48, 0.5);
}

.section-heading .glyphicon {
    top: 4px;
    font-size: 16pt;
}

span.loading {
    font-family: 'Century Gothic';
    font-size: 14pt;
    margin-left: 8px;
}


/* Form Styles */
.panel-body .col-left {
    padding-left: 0px;
    padding-right: 4px;
}

.panel-body .col-right {
    padding-right: 0px;
    padding-left: 4px;
}

.well {
    padding: 12px;
}

.form-label {
    top: 8px;
}

.form-group {
    width: 100%;
    padding-bottom: 8px;
}

.form-group label.form-label {
    width: 25%;
}

.form-group input.form-control {
    width: 70%;
}

/* Button styles */
.btn-default, .btn-primary {
    background-color: #bfd730;
    color: black;
    border-color: black;
    font-family: 'Century Gothic';
}

.btn-primary:enabled:hover, .btn-primary:enabled:focus {
    cursor: pointer;
    color: black;
    background-color: hotpink;
}

.btn-primary:enabled:focus {
    box-shadow: 1px solid red;
}

.btn-primary[disabled="true"]:hover, .btn-primary[disabled="true"]:focus {
    cursor: not-allowed;
    color: black;
    background-color: #bfd730;
}

.btn-primary i {
    margin-right: 8px;
}

/* ConfirmationDialog styles */
.ui-dialog-titlebar .ui-dialog-title {
	font-family: 'Century Gothic';
	font-weight: 600;
}

.ui-confirmdialog .ui-dialog-content .fa {
    color: darkorange;
	font-size: 24pt;
}

.ui-dialog-content.ui-widget-content {
	display: flex;
}

.ui-widget-content {
	border: none;
}

button.ui-button.ui-widget, button.ui-button.ui-widget:focus {
    background-color: #bfd730;
    color: black;
    border-color: black;
}

button.ui-button span.ui-button-text {
	font-weight: normal;
	font-family: 'Century Gothic';
}

button.ui-button.ui-widget:hover {
	background-color: hotpink!important;
	cursor: pointer;
}

span.ui-confirmdialog-message {
    font-family: 'Century Gothic';
    font-size: 11pt;
}
