<div class="panel panel-danger">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h3 class="section-heading">
                    <i class="fa fa-question-circle"></i>
                    <strong>
                        <span>Not Found</span>
                    </strong>
                </h3>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="alert alert-danger">
            <i class="fa fa-question-circle fa-2x"></i>
            <span class="loading">The requested destination does not exist. Did you mistype something or click on a broken link?</span>
        </div>
    </div>
</div>