<div class="panel panel-danger">
    <div class="panel-heading">
        <h4><strong>Not Authorised</strong></h4>
    </div>
    <div class="panel-body">
        <p>
            You are not authorised to access the area you requested. If you believe this is incorrect and that you require access,
            please contact <a href="mailto:alexc@blackwoodgroup.org.uk">Alex Cheek</a> on the Business Solutions Team or 
            <a href="http://mbwebapps/RSDPortal">click here to raise a support desk ticket</a>.
        </p>
    </div>
</div>