.header-text, label, .ui-widget select, td, th, .input-group input, p-dialog input, p-dialog button, p-dialog .row > span, p-dialog select {
    font-family: 'Century Gothic';
    font-weight: normal;
}

.action-button {
    border: 1px solid silver;
    background: white;
}

.header-text {
    font-size: 12pt;
    font-weight: bold;
}

.header-row {
    display: flex;
}

span.ui-dialog-title, span.header-text {
    width: 100%;
}

.header-row button, .ui-dialog-buttonpane button {
    font-size: 10pt;
    font-family: 'Century Gothic';
}

.btn-default, .btn-primary {
    background-color: #bfd730;
    color: black;
    border-color: black;
}

.action-button:hover, .delete-button:hover, .btn-primary:hover {
    cursor: pointer;
    color: black;
    background-color: hotpink;
}


.ui-spinner .fa {
    left: 3px;
}

span.ui-spinner, input.ui-spinner-input {
    height: 34px!important;
}

span.glyphicon-ok {
    color: green;
}

span.glyphicon-remove {
    color: red;
}

/* ConfirmDialog stylings */
.ui-confirmdialog .ui-dialog-content .fa {
    color: darkorange;
    font-size: 20pt;
}

button.ui-button.ui-state-default, button.ui-button.btn-primary:active:focus {
    background-color: #bfd730;
    color: black;
    border-color: black;
}

button.ui-button.ui-state-default span {
    font-weight: normal;
}

button.ui-button.ui-state-default:hover {
    background-color: hotpink;
}

span.ui-confirmdialog-message {
    font-family: 'Century Gothic';
    font-size: 11pt;
}
