<div class="panel">
    <div class="panel-heading">
        <div class="row">
            <h4 class="col-md-6 section-heading">
                <strong>
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <span>Payroll Approval</span>
                </strong>
            </h4>
            <div class="col-md-6">
                <div class="btn-group pull-right">
                    <!-- <button class="btn btn-primary" (click)="approveSummary()">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>OVERRIDE</span>
                    </button> -->
                    <button class="btn btn-primary" (click)="approveSummary()" [disabled]="!isAuthable()" [title]="authText()">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span>Approve</span>
                    </button>
                    <button class="btn btn-primary" (click)="clearDetail()">
                        <span class="glyphicon glyphicon-remove"></span>
                        <span>Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div *ngIf="!summaryLoaded()" class="alert alert-info">
            <i class="fa fa-cog fa-spin fa-2x"></i>
            <span class="loading">Please wait, retrieving your data...</span>
        </div>
        <div *ngIf="summaryLoaded()">
            <div *ngIf="!periodFinished()" class="alert alert-danger">
                <i class="fa fa-exclamation-triangle fa-2x"></i>
                <span class="loading">Payroll period for this Team cannot be approved until it finishes on {{displayDate(summary.periodEnd)}}</span>
            </div>
            <div *ngIf="!noRevisions()" class="alert alert-danger">
                <i class="fa fa-exclamation-triangle fa-2x"></i>
                <span class="loading">Payroll period for this Team cannot be approved until the following issues are resolved</span>
                <hr/>
                <table class="table">
                    <tbody>
                        <tr *ngFor="let item of invalidOnExport()" class="no-action">
                            <td><span>{{item.carer.forename}} {{item.carer.surname}} has {{item.revision}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="noRevisions()" class="alert alert-success">
                <i class="fa fa-thumbs-up fa-2x"></i>
                <span class="loading">Click "Approve" if you are happy with the number of additional hours shown on the payroll summary</span>
            </div>
            <div *ngIf="summary.authorizations.length > 0">
                <h4>Previous Authorisations</h4>
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th><span>Authorised By</span></th>
                            <th><span>When Authorised</span></th>
                            <th><span>Additional Hours</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let auth of summary.authorizations; index as i">
                            <tr (click)="toggleExportView(i)">
                                <td><span>{{auth.authorizingUser.accountName}}</span></td>
                                <td><span>{{displayDateAndTime(auth.whenAuthorized)}}</span></td>
                                <td><span>{{auth.authorisedAdditionalHours}}</span></td>
                            </tr>
                            <tr *ngIf="viewAuth[i]" (click)="toggleExportView(i)">
                                <td colspan="3">
                                    <table class="table table-responsive table-striped">
                                        <thead>
                                            <tr>
                                                <th><span>StaffMember</span></th>
                                                <th><span>Date</span></th>
                                                <th><span>Sequence</span></th>
                                                <th><span>NEPay</span></th>
                                                <th><span>StartDate</span></th>
                                                <th><span>Position</span></th>
                                                <th><span>ContractNo</span></th>
                                                <th><span>Code</span></th>
                                                <th><span>Hours</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let exp of auth.exports" class="no-action">
                                                <td><span>{{exp.staffMember}}</span></td>
                                                <td><span>{{exp.dateFormatted}}</span></td>
                                                <td><span>{{exp.sequence}}</span></td>
                                                <td><span>{{exp.nePay}}</span></td>
                                                <td><span>{{exp.startDateFormatted}}</span></td>
                                                <td><span>{{exp.position}}</span></td>
                                                <td><span>{{exp.contractNo}}</span></td>
                                                <td><span>{{exp.code}}</span></td>
                                                <td><span>{{exp.hours}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
