.btn-default, .btn-primary {
    font-family: 'Century Gothic';
    background-color: #bfd730;
    color: black;
    border-color: black;
}

.action-button:hover, .delete-button:hover, .btn-primary:hover {
    cursor: pointer;
    color: black;
    background-color: hotpink;
}
