h4, select, span, .btn.btn-primary, label {
    font-family: 'Century Gothic';
}

.ui-dialog-titlebar.ui-widget-header {
    background-color: rgba(191, 215, 48, 0.5);
}

.btn.btn-primary {
    background-color: rgba(191, 215, 48, 1.0)!important;
    color: black;
    font-size: 10pt;
    border-color: black;
}

.btn.btn-primary:hover {
    background-color: hotpink!important;
    border-color: black;
}

.header-buttons:first-child() {
    margin-right: 8px;
}

label {
    width: 25%;
}

span.loading {
    font-family: 'Century Gothic';
    font-size: 14pt;
    margin-left: 8px;
}

p-header {
    cursor: move;
}
