<div class="panel">
    <div class="panel-heading">
        <div class="row">
            <h4 class="col-md-6">Period Summary Review</h4>
            <div class="col-md-6">
                <a class="btn btn-primary btn-default pull-right" (click)="clearDetail()"><span class="glyphicon glyphicon-remove"></span>Close</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="row">
                    <th class="col-md-3">Carer</th>
                    <th class="col-md-2">Date</th>
                    <th class="col-md-3">Reason</th>
                </thead>
                <tbody>
                    <tr *ngFor="let adjust of adjustments" class="row" (click)="showAdjust(adjust)">
                        <td>{{carerForAdjust(adjust).forename}} {{carerForAdjust(adjust).surname}}</td>
                        <td>{{timePro.displayDate(addDays(adjust.weekCommencing, adjust.dayOffset))}}</td>
                        <td>{{adjust.reason}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<timesheet-adjustment *ngIf="timesheet" [(timesheet)]="timesheet" [(adjustVisible)]="adjustVisible" [dayOffset]="dayOffset"
    [weekCommencing]="weekCommencing"></timesheet-adjustment>

