<div class="card">
    <div class="card-header">
        <span>{{booking.forename || booking.bookingDesc}} {{booking.surname}}</span>
        <i *ngIf="booking.toil != toilSetting.NotApplicable" class="fa fa-clock-o run-symbol" tooltip="'This booking is part of a TOIL Shift'"></i>
    </div>
    <div class="card-block">
        <span>{{displayTime(booking.thisStart)}} - {{displayTime(booking.thisFinish)}}</span>
        <i *ngIf="booking.run" class="fa fa-registered run-symbol" [tooltip]="runTooltip" placement="bottom" container="body"
           containerClass="run-tooltip"></i>
    </div>
</div>
<ng-template #runTooltip>
    <div><span>From Run</span></div>
    <div><span>{{this.booking.run.name}}</span></div>
</ng-template>