.fa.run-symbol {
    color: gray;
    float: right;
}

.card-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::ng-deep .tooltip.run-tooltip .tooltip-inner * {
    text-align: left;
}
