.fa.run-symbol {
    color: gray;
    float: right;
}

.card-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltip-inner {
    font-family: 'Century Gothic';
    font-size: 10pt;
    color: hotpink;
}