<div class="panel panel-default" *ngIf="timesheet">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-12 form-group form-inline">
				<h4>
					<strong>Timesheet</strong>
				</h4>
				<button class="btn btn-primary week-nav" (click)="weekBack()">
					<i class="fa fa-angle-left"></i>
				</button>
				<p-calendar [locale]="LOC" dateFormat="dd/mm/yy" [(ngModel)]="weekCommencing" (onSelect)="selectWeekCommencing($event)"
				            inputStyleClass="form-control"></p-calendar>
				<button class="btn btn-primary week-nav" (click)="weekForward()">
					<i class="fa fa-angle-right"></i>
				</button>
				<select class="form-control" [(ngModel)]="carer" (ngModelChange)="pp.selectCarer($event)">
					<option *ngFor="let carer of carers" [ngValue]="carer">{{carer.forename}} {{carer.surname}}</option>
				</select>
				<span>{{isContracted ? "[Contracted]" : "[Relief]"}}</span>
				<div class="hide-codes" tooltip="Show hidden booking types such as Travel Time">
					<label>
						<p-checkbox [(ngModel)]="showCodes" binary="true" id="showCheck" (onChange)="showCodesChanged()"></p-checkbox>
						<span>Show hidden bookings</span>
					</label>
				</div>
				<button class="btn btn-primary btn-default pull-right" (click)="clearDetail()">
					<span class="glyphicon glyphicon-remove"></span>
					<span>Close</span>
				</button>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<!-- Team/Contract Summary -->
		<div class="table-responsive">
			<table class="table table-striped table-contracts" *ngIf="timesheet.contracts !== null">
				<thead class="thead-default">
					<tr class="row">
						<th class="col-md-1">Payroll No</th>
						<th class="col-md-3">Team</th>
						<th class="col-md-1">Cycle Week</th>
						<th class="col-md-1">Contracted Hours</th>
						<th class="col-md-1">Scheduled Hours</th>
						<th class="col-md-1">Avg Days per Week</th>
						<th class="col-md-1">Booking Hours</th>
						<th class="col-md-1">Actual Hours</th>
						<th class="col-md-1">Additional Hours</th>
						<th class="col-md-1">Sickness &amp; Leave</th>
					</tr>
				</thead>
				<tbody>
					<ng-template ngFor let-contract [ngForOf]="timesheet.contracts">
						<tr class="row" [tooltip]="!contractHoursMatch(contract) ? 'Scheduled Availability for this Contract does not match the Contracted Hours. Click for more details.' : ''"
						    placement="left" [ngClass]="{ 'contract-hours-nomatch' : !contractHoursMatch(contract) }" (click)="openContractInfo(contract)">
							<td>{{contract.payrollNumber}}</td>
							<td>
								<span>{{contract.teamDesc}}</span>
								<span *ngIf="!contractHoursMatch(contract)" class="glyphicon glyphicon-warning-sign adjust-crit pull-right"></span>
							</td>
							<td>{{contract.cycleWeek + 1}} of {{ contract.cycleLength + 1}}</td>
							<!-- "Future" cycles still an issue here -->
							<td>{{pp.displayTime(contract.contractMins)}}</td>
							<td>{{pp.displayTime(availHoursForContract(contract))}}</td>
							<td>{{(contract.cycleDaysWorked / (contract.cycleLength + 1)).toPrecision(3)}}</td>
							<td>{{pp.displayTime(bookedHoursForContract(contract.contractCode))}}</td>
							<td>{{pp.displayTime(actualHoursForContract(contract.contractCode))}}</td>
							<td>{{pp.displayTime(additionalHoursForContract(contract.contractCode))}}</td>
							<td>{{pp.displayTime(leaveSickHoursForContract(contract.contractCode))}}</td>
						</tr>
					</ng-template>
				</tbody>
			</table>
		</div>

		<div class="table-responsive">
			<table class="table table-striped table-bordered table-rota">
				<thead>
					<tr class="row">
						<th *ngFor="let day of LOC.dayOrder; let i = index" (click)="openAdjustments(i)" [tooltip]="'Click here to view Shifts for ' + day + ' ' + pp.dateOrd(weekCommencing, i) + ' ' + pp.monthOf(weekCommencing, i)"
						    placement="top" container="body" [ngClass]="{'invalid-shift' : hasInvalidShift(i)}">
							<span>{{day}} {{pp.dateOrd(weekCommencing, i)}}</span>
							<br />
							<span>{{pp.displayTime(totalActualHoursForDay(i))}}</span>
							<span *ngIf="hasAdjustOffsetAction(i)" class="glyphicon glyphicon-exclamation-sign adjust-crit pull-right"
							      tooltip="There are adjustments for this day that require attention" placement="bottom"></span>
							<span *ngIf="hasAdjustOffset(i)" class="glyphicon glyphicon-exclamation-sign adjust-flag pull-right" tooltip="There are adjustments for this day"
							      placement="bottom"></span>
							<span *ngIf="hasInvalidShift(i)" class="glyphicon glyphicon-warning-sign adjust-crit pull-right" tooltip="There is one or more invalid shifts on this day. Click for more information."
							      placement="bottom"></span>
						</th>
					</tr>
				</thead>
				<tbody *ngIf="!proc">
					<tr class="row" *ngFor="let bk of bookings">
						<td *ngFor="let day of LOC.dayOrder; let i = index" [style.background-color]="bookColor(bk[i])">
							<booking-card *ngIf="bk[i]" [booking]="bk[i]" (click)="openBookingDetail(bk[i])"></booking-card>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<timesheet-adjustment [(timesheet)]="timesheet" [(adjustVisible)]="adjustVisible" [dayOffset]="dayOffset"
		                      [weekCommencing]="weekCommencing"></timesheet-adjustment>

		<booking-detail [booking]="selectedBooking" [(bookingVisible)]="bookingVisible" [contracts]="timesheet.contracts"></booking-detail>

		<contract-info [contract]="selectedContract" [carer]="carer" [(contractVisible)]="contractVisible"></contract-info>

		<div>
			<span *ngIf="timesheet.contracts === null" class="danger">No Contracts found for this Carer</span>
		</div>
	</div>
</div>