h4, label, select, td, th {
    font-family: 'Century Gothic';
    font-weight: normal;
}

.panel {
    border: 1px solid;
    border-color: slategray;
    background-color: rgba(255,255,255,0.5);
}

.panel-default>.panel-heading {
    border-bottom: 1px solid silver;
    border-color: slategray;
    background-color: rgba(191, 215, 48, 0.5);
}

table.table-rota {
    table-layout: fixed;
}

table.table-rota th {
    width: 14.3%;
    min-width: 9em;
    background-color: rgba(191, 215, 48, 0.5);
    /*width: 14.285714%;*/
}

table.table-rota th:hover {
    background-color: rgb(191, 215, 48);
    cursor: pointer;
}

table.table-rota td:hover {
    background-color: rgba(255, 105, 180, 0.5)!important;
    cursor: pointer;
}

.btn-default, .btn-primary {
    background-color: #bfd730;
    color: black;
    border-color: black;
}

.btn-default:hover, .btn-primary:hover, .btn-default:focus, .btn-primary:focus {
    background-color: hotpink;
    color: black;
    border-color: black;
}

p-dialog input, p-dialog button, p-dialog .row > span, p-dialog select, .form-inline span, span.ui-calendar input.form-control {
    font-family: 'Century Gothic'!important;
}

.form-inline span {
    font-size: 12pt;
}

p-spinner, p-calendar {
    height: 34px!important;
}

.panel-heading:nth-child(2) {
    margin-left: 8px;
}

.week-nav {
    background-color: transparent;
    border-color: darkgray;
}

span.adjust-crit {
    font-size: 14pt;
    color: red;
}

span.adjust-flag {
    font-size: 14pt;
    color: green;
}

span.glyphicon-ok {
    color: green;
}

.delete-button:hover {
    cursor: pointer;
    background-color: hotpink;
    color: black;
}

span.ui-dialog-title, span.header-text {
    width: 100%;
}

.header-row {
    display: flex;
}

.panel-heading a.btn, .ui-dialog-buttonpane button {
    font-size: 10pt;
    font-family: 'Century Gothic';
}

.panel-heading a.btn span {
    color: black;
    font-size: 12pt;
    vertical-align: middle;
    padding-right: 4px;
}

.panel-heading .form-group {
    margin-bottom: 0px;
}

.action-button {
    border: 1px solid silver;
    background: white;
}

.action-button:hover {
    cursor: pointer;
    background-color: hotpink;
}

.hide-codes:hover, .hide-codes span:hover {
    cursor: pointer;
}

.hide-codes > label {
    white-space: nowrap;
    text-overflow: ellipsis;
}